<div class="details control-group">
  <%= notice_box %>

  <div class="details-summary">
    <div class="row list-group-item">
      <%= summary_pickup_label %>
      <span class="summary-times"></span>
    </div>
    <button type="button" class="btn btn-link pull-right show-details">
      <%= show_details_label %>
    </button>
  </div>

  <div class="row details-all">
    <div class="col-sm-6">
      <label><%= pickup_header %></label>
      <div class="hudson-subsection well">
        <%= pickup_time_message(leg.home_site_id, leg.Direction) %>
        <div class="pickup-times"> <!-- Pickup time selection -->
          <%= f.label :PickupTOD, pickup_time_label(leg.home_site_id) %>
          <div class="input-group" class="pickup-time">
            <%= f.select :PickupTOD, [], {},
                    class: 'pickup-tod form-control',
                    data: { selected: leg.PickupTOD,
                    time_format: time_format == :"12_hour" ? "h:mm a"  : "H:mm"}  %>
          </div>
        </div>

        <div class="pickup-extras"> <!-- Pickup extras -->
          <%= pickup_extras_header(leg.home_site_id) %>
          <div class="input-group">
            <%= f.select :PickupExtras,
                    [], {},
                    class: 'extras form-control'%>
          </div>
        </div>
      </div>

      <%= render partial: 'location', locals: {leg: leg, f: f} %>
    </div>

    <div class="col-sm-6" >
      <%= render partial: 'flight_info', locals: {leg: leg, f: f} %>
      <%= render partial: 'other', locals: {leg: leg, f: f} %>
    </div>
  </div>
</div>
