<% if show_flight_info?(leg) %>
  <label><%= flight_info_header %></label>
  <div class="flight-info hudson-subsection well">

    <% if show_airline?(leg) %>
      <%= f.label :Airline, airline_label(leg) %>
      <%= field_error_label(leg, :Airline) %>
      <div class="input-group <%= error_class(leg, :Airline) %>">
        <%= f.select :Airline, available_airlines(leg), {},
                class: 'airline form-control needsclick' %>
      </div>
    <% end %>

    <% if show_flight_number?(leg) %>
      <%= f.label :FlightNumber, flight_num_label(leg) %>
      <%= field_error_label(leg, :FlightNumber) %>
      <div class="input-group <%= error_class(leg, :FlightNumber) %>">
        <%= f.text_field :FlightNumber, class: 'form-control' %>
      </div>
    <% end %>

    <% if show_flight_city?(leg) %>
      <%= f.label :FlightCity, flight_city_label(leg) %>
      <%= field_error_label(leg, :FlightCity) %>
      <div class="input-group <%= error_class(leg, :FlightCity) %>">
        <%= f.text_field :FlightCity, value: f.object.FlightCity,
                class: 'form-control flight-city',
                autocapitalize: "off", autocorrect: "off", autocomplete: "off", spellcheck: 'false' %>
      </div>
    <% end %>
  </div>
<% end %>
