<% if gratuity_enabled?(leg) %>
  <div class="tip-field-container">
    <%= f.label :UserGratuity, adtl_gratuity_label(leg), class: 'gratuity-included' %>
    <%= f.label :UserGratuity, gratuity_label(leg), class: 'gratuity-not-included' %>

    <%= content_tag :div, ' ',
            class: 'gratuity-included gratuity-included-message',
            data: {message: gratuity_included_message(leg)} %>

    <%= field_error_label(leg, :UserGratuity) %>
    <%= content_tag :div,
            class: "input-group gratuity #{error_class(leg, :UserGratuity)}" do %>
      <%= f.text_field :UserGratuity,
              class: 'user-gratuity form-control', type: 'number',
              step: 'any' %>
    <% end %>

    <%= content_tag :a, tip_calculator_label,
            class: 'btn-link tip-calculator',
            data: {
              html: true,
              content: (render(partial: 'tip_calculator')).gsub(/"/, '&quot;').html_safe,
              placement: 'top'} %>

  </div>

<% end %>
