<label><%= location_header(leg) %></label>
<div class="location hudson-subsection well">
  <p><%= leg.location_name %></p>
  <p><%= location_address(f, leg) %></p>
  <p><%= location_details(f, leg) %></p>
  <p><%= leg.location_city %>, <%= leg.location_state %> <%= location_zip(f, leg) %></p>
</div>