<% if show_pud_directions?(leg) ||
      gratuity_enabled?(leg) ||
      current_trip.cruise? %>
  <label><%= other_details_header %></label>
  <div class="other hudson-subsection well">

    <% if show_ship?(leg) %>
      <label><%= cruise_label(leg) %></label>
      <%= field_error_label(leg, :Ship) %>
      <div class="input-group <%= error_class(leg, :Ship) %>">
        <%= f.select :Ship, [' '] + leg.available_ships.collect(&:name), {},
                class: 'ship form-control needsclick' %>
      </div>
    <% end %>

    <% if show_pud_directions?(leg) %>
      <%= f.label :PUDDirections, pud_directions_label(leg) %>
      <div class="input-group">
        <%= f.text_area :PUDDirections, size: '25x3', class: 'form-control' %>
      </div>
    <% end %>


    <%= render partial: 'gratuity', locals: {leg: leg, f: f} %>
  </div>
<% end %>
