<div class="services-table"
    data-dropoff-prefix="<%= dropoff_time_label(leg.home_site_id) %>"
    data-offpeak-label="<%= off_peak_label(leg.home_site_id) %>"
    data-shortnotice-label="<%= short_notice_label(leg.home_site_id) %>"
    data-adtlcharges-label="<%= additional_charges_label(leg.home_site_id) %>"
    >
  <%= f.hidden_field :ServiceType,
          value: f.object.ServiceType,
          class: 'service-type' %>

  <div class="service-header-content">
    <%= service_table_header(leg) %>
    <%= fare_specific_message(leg) %>
  </div>

  <div class="list-group">
    <%= render partial: 'service', collection: services, locals: {leg: @leg, f: f} %>
  </div>
  <button type="button" class="btn btn-link pull-right show-all-services">
    <%= show_all_services_label %>
  </button>
</div>
