<%= content_tag :li,
        class: "service-#{service.type} list-group-item #{'not-selectable' unless service.fare_available?}",
        data: {
          type: service.type, times: service.times,
          pickup_extras: service.pickup_extras,
          selectable: service.fare_available?,
          included_gratuity: {
            percentage: service.included_gratuity(true),
            amount: number_to_currency(service.included_gratuity),
            fare_without_gratuity: number_to_currency(service.fare_minus_gratuity) }
          } do %>
  <div class="service-description">
    <%= f.label :ServiceType, service_description(service, leg),
            value: service.type %>
  </div>


  <div class="service-fare"><%= service_fare(service) %></div>
  <div class="service-button">
    <% if service.fare_available? %>
      <button type="button" class="btn hudson-button"
          data-type="<%= service.type %>">
        <%= service_selection_label %>
      </button>
    <% end %>
  </div>
<% end %>
