<label class="tip-label"><%= tip_calc_tip_label %></label>
<div class="form-group">
  <input type="text" name="tip_percent" class="form-control tip-percent">
  <span>%</span>
</div>

<p>
  <%= tip_calc_common_tips %>:<br/>
  <button class="btn btn-link common-tip" data-tip="20">20%</button>
  <button class="btn btn-link common-tip" data-tip="18">18%</button>
  <button class="btn btn-link common-tip" data-tip="15">15%</button>
</p>

<hr/>

<label><%= tip_calc_amount_label %></label>
$<span class="tip">0.00</span>

<i class="update-tip glyphicon glyphicon-remove"></i>
