<%= content_tag :div, class: 'leg-services-section', id: "leg#{@leg_index}",
        data: { index: @leg_index } do %>
  <%= render partial: 'shared/leg_summary',
          locals: {leg: @leg, index: @leg_index} %>

  <%= services_header(@leg) %>
  <%= form_for @leg, as: :leg, url: services_update_path,
          html: { role: 'form', id: "form-#{@leg_index}" } do |f| %>
    <input type="hidden" id="leg_index" name="leg_index" value="<%= @leg_index %>">

    <%= render partial: 'services', object: @leg.services,
            locals: {leg: @leg, f: f} %>

    <%= render partial: 'details', locals: {leg: @leg, f: f} %>

    <div class="button-container">
      <div class="buttons pull-right">
        <%= add_to_cart_warning if @leg == current_trip.legs.last %>

        <a href="<%= home_url %>"><%= back_link_caption %></a> <span class="divider">|</span>
        <%= content_tag :button, continue_btn_new_text, type: 'submit',
                data: {
                  'loading-text' => 'Saving...',
                  'edit-text' => continue_btn_edit_text,
                  'new-text' => continue_btn_new_text
                },
                class: "submit btn btn-hudson" %>
      </div>
    </div>
  <% end %>
<% end %>
