.auto-complete-selector {
  .loc-address {
    font-size: 11px;
    font-weight: normal;
  }

  .ac-label {
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .no-locs {
    font-weight: bold;
    padding: 10px 15px;
  }

  .form-group {
    padding: 3px 25px 15px 15px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .auto-complete-selector {
    border-top: 15px solid gray;
    margin-top: 5px;
    padding: 0;
    min-height: 300px;

    overflow: auto;
    height: auto;
  }

}
