.list-selector .list-label {
  padding: 10px 35px 15px 25px;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .list-selector {
    border-top: 15px solid gray;
    margin-top: 5px;
    padding: 15px;
    padding-right: 33px;
  }

  .list-selector .list-label {
    padding-left: 15px;
    font-size: 12px;
    font-weight: bold;
  }
}
