.type-selector {
  .loc-type {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
  }

  .value {
    display: flex;
    margin-right: 10px;

    .type-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;

      i {
        font-size: 15px;
        margin: 0;
      }
    }

    span { flex-grow: 1; }
  }
}

.locs-loading {
  font-size: 14px;
  position: relative;
  top: 22px;
  left: 32px;
  i { margin-right: 10px; }
}

@media (max-width: 767px) {
  ul.selector-list.type-selector { height: auto; }

}
