<div class="leg0 <%= leg_container_class(0, (defined?(hide) && hide)) %>">
  <%= f.fields_for '0', leg do |fl| %>
    <%= fl.hidden_field :Direction, value: 'A' %>
    <%= fl.hidden_field :PrimarySite,
            class: 'primary-site', value: current_trip.cruise_site_id %>
    <%= cruise_h3(0) %>

    <div class="control-group tab-content hudson-subsection panel leg">
      <div class="checkbox leg-disabler">
        <label>
          <%= check_box_tag('trip[disable_leg0]', 1, !current_trip.leg0_enabled?) %>
          <%= cruise_disable_leg0_label %>
        </label>
      </div>

      <%= cruise_section_header(0) %>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <%= fl.label :airport, cruise_arrival_airport_label %>
            <%= field_error_label(leg, :airport) %>
            <%= fl.select :airport,
                    @cruise.airports,
                    { include_blank: true },
                    class: "form-control #{error_class(leg, :airport)}",
                    tabindex: 1 %>
          </div>

          <div class="form-group location-container">
            <%= fl.label :location_key, cruise_arrival_loc_label %>
            <%= field_error_label(leg, :location_key) %>
            <%= fl.select :location, [], { include_blank: true },
                    data: {
                      initial_val: (leg.location ? leg.location.Code : nil) },
                    class: "form-control #{error_class(leg, :location_key)}",
                    tabindex: 2 %>
            <%= fl.hidden_field :DropOffType %>
          </div>

        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <%= render partial: 'reservations/flight', locals: {
                  trip_type: :cruise, leg: leg,
                  f: fl, leg_index: 0 } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
