<div class="leg1 <%= leg_container_class(1) %>"
    <%= "style='display: none;'".html_safe if defined?(hide) && hide %> >
  <%= f.fields_for '1', leg do |fl| %>
    <%= fl.hidden_field :Direction, value: 'D' %>
    <%= fl.hidden_field :PrimarySite,
            class: 'primary-site', value: current_trip.cruise_site_id %>
    <%= cruise_h3(1) %>

    <div class="control-group tab-content hudson-subsection panel leg">
      <div class="checkbox leg-disabler">
        <label>
          <%= check_box_tag('trip[disable_leg1]', 1, !current_trip.leg1_enabled?) %>
          <%= cruise_disable_leg1_label %>
        </label>
      </div>

      <%= cruise_section_header(1) %>

      <div class="row">
        <div class="col-sm-5">

          <div class="form-group location-container">
            <%= fl.label :location_key, cruise_arrival_hotel_loc_label %>
            <%= field_error_label(leg, :location_key) %>
            <%= fl.select :location, [], { include_blank: true },
                    data: {
                      initial_val: (leg.location ? leg.location.Code : nil) },
                    class: "form-control #{error_class(leg, :location_key)}",
                    tabindex: 12 %>
            <%= fl.hidden_field :DropOffType %>
          </div>

          <div class="form-group airport-container">
            <%= fl.label :airport, cruise_arrival_hotel_dest_label %>
            <%= field_error_label(leg, :airport) %>
            <%= fl.select :airport,
                    @cruise.ports,
                    { include_blank: true },
                    class: "form-control #{error_class(leg, :airport)}",
                    tabindex: 13 %>
          </div>

        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <%= render partial: 'reservations/flight', locals: {
                  trip_type: :cruise,
                  leg: leg,
                  f: fl,
                  date_label: cruise_arrival_hotel_date_label,
                  time_label: cruise_arrival_hotel_time_label,
                  flight_type: false,
                  leg_index: 1 } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
