<%= fields_for :trip, current_trip do |f| %>
  <%= render partial: 'arrival', locals: {
          f: f, leg: current_trip.base_legs[0] } %>
  <%= render partial: 'arrival_from_hotel', locals: {
          f: f, leg: current_trip.base_legs[1], hide: true } %>
  <hr>
  <%= render partial: 'departure', locals: {
          f: f, leg: current_trip.base_legs[2], hide: true } %>
  <%= render partial: 'departure_from_hotel', locals: {
          f: f, leg: current_trip.base_legs[3], hide: true } %>

  <%= render partial: 'other_fields', locals: {
          f: f, leg: current_trip.base_legs[0], hide: true } %>


  <button type="submit"
      data-loading-text="Loading..."
      class="submit btn btn-hudson pull-right">Continue</button>
<% end %>
