<div class="leg2 <%= leg_container_class(2) %>"
    <%= "style='display: none;'".html_safe if defined?(hide) && hide %> >
  <%= f.fields_for '2', leg do |fl| %>
    <%= fl.hidden_field :Direction, value: 'A' %>
    <%= fl.hidden_field :PrimarySite,
            class: 'primary-site', value: current_trip.cruise_site_id %>
    <%= cruise_h3(2) %>

    <div class="control-group tab-content hudson-subsection panel leg">
      <div class="checkbox leg-disabler">
        <label>
          <%= check_box_tag('trip[disable_leg2]', 1, !current_trip.leg2_enabled?) %>
          <%= cruise_disable_leg2_label %>
        </label>
      </div>

      <%= cruise_section_header(2) %>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <%= fl.label :airport, cruise_dep_airport_label %>
            <%= field_error_label(leg, :airport) %>
            <%= fl.select :airport,
                    @cruise.ports,
                    { include_blank: true },
                    class: 'form-control' %>
          </div>

          <div class="form-group location-container">
            <%= fl.label :location, cruise_dep_loc_label %>
            <%= field_error_label(leg, :location_key) %>
            <%= fl.select :location, [], { include_blank: true },
                    data: {
                      initial_val: (leg.location ? leg.location.Code : nil) },
                    class: "form-control #{error_class(leg, :location_key)}" %>
            <%= fl.hidden_field :DropOffType %>
          </div>

        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <%= render partial: 'reservations/flight', locals: {
                  trip_type: :cruise,
                  leg: leg,
                  f: fl,
                  field: 'PickupTOD',
                  date_label: cruise_dep_date_label,
                  time_label: cruise_dep_time_label,
                  flight_type: false,
                  leg_index: 2 } %>

          <div class="flight-fields" style="display: none;">
            <%= render partial: 'reservations/flight', locals: {
                    trip_type: :cruise,
                    leg: leg,
                    f: fl,
                    show_date: false,
                    date_label: cruise_dep_flight_date_label,
                    time_label: cruise_dep_flight_time_label,
                    leg_index: 2 } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
