<div class="leg3 <%= leg_container_class(3) %>"
    <%= "style='display: none;'".html_safe if defined?(hide) && hide %> >
  <%= f.fields_for '3', leg do |fl| %>
    <%= fl.hidden_field :Direction, value: 'D' %>
    <%= fl.hidden_field :PrimarySite,
            class: 'primary-site', value: current_trip.cruise_site_id %>
    <%= cruise_h3(3) %>

    <div class="control-group tab-content hudson-subsection panel leg">
      <div class="checkbox leg-disabler">
        <label>
          <%= check_box_tag('trip[disable_leg3]', 1, !current_trip.leg3_enabled?) %>
          <%= cruise_disable_leg3_label %>
        </label>
      </div>

      <%= cruise_section_header(3) %>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group location-container">
            <%= fl.label :airport, cruise_arrival_hotel_dest_label %>
            <%= field_error_label(leg, :airport) %>
            <%= fl.select :airport,
                    @cruise.airports,
                    { include_blank: true },
                    class: "form-control #{error_class(leg, :airport)}" %>
          </div>

        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <%= render partial: 'reservations/flight', locals: {
                  trip_type: :cruise,
                  leg: leg,
                  f: fl,
                  leg_index: 3 } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
