<div class="leg-container">
  <%= f.fields_for '0', leg do |fl| %>

      <div class="additional-fields control-group tab-content hudson-subsection panel leg">
        <%= render partial: 'reservations/additional_fields',
                locals: { f: fl, leg: leg, leg_index: 0 } %>
      </div>
  <% end %>
</div>
