<%= render partial: 'reservations/profile' %>

<%= reservation_page(:cruise) do %>
  <%= form_for current_trip, as: :trip,
          url: update_cruise_legs_path,
          html: { role: 'form' } do |f| %>
    <%= trip_type_selector(:cruise) %>
    <%= render partial: 'reservations/actions' %>
    <%= cruise_header %>

    <% if current_network.single_site? %>
      <%= hidden_field_tag :cruise_site_id, current_site_id %>
    <% else %>
      <div class="form-group">
        <%= content_tag :label, cruise_region_label,
                id: 'cruise-site-label' %>
        <%= select_tag :cruise_site_id,
                options_from_collection_for_select(
                    current_network.cruise_regions,
                    :ProviderSiteId, :ServiceArea,
                    current_trip.cruise_site_id),
                include_blank: true, class: "form-control" %>
      </div>
    <% end %>

    <div id="booking-container"></div>
  <% end %>
<% end %>
