<% if display_receipt_analytics?(cart.items[0].legs[0].ItineraryID) %>

  <% content_for(:analytics) do -%>

    <% if universal_google_analytics? %>
      <script>
        ga('require', 'ecommerce');   // Load the ecommerce plug-in.

        ga('ecommerce:addTransaction', {
          'id': '<%= cart.items[0].legs[0].ItineraryID %>', // Transaction ID. Required
          'affiliation': '<%= j current_host %>', // Affiliation or store name
          'revenue': '<%= number_with_precision(cart.total, precision: 2) %>', // Grand Total
          'shipping': '', // Shipping
          'tax': '<%= number_with_precision(cart.total_tax, precision: 2) %>' // Tax
        });

        <% cart.items.each do |trip| -%>
          <% trip.legs.each do |leg| -%>
            ga('ecommerce:addItem', {
              'id': '<%= cart.items[0].legs[0].ItineraryID %>', // Transaction ID. Required
              'name': "<%= leg.home_site_id %>: <%= j leg.PickupLocation %> => " +
                "<%= j leg.DropOffLocation %>", // Product name. Required
              'sku': '<%= leg.WResID %>', // SKU/code
              'category': '<%= leg.ServiceType %>', // Category or variation
              'price': '<%= number_with_precision(leg.Fare, precision: 2) %>', // Unit price
              'quantity': '1' // Quantity
            });
          <% end -%>
        <% end -%>

        ga('ecommerce:send');      // Send transaction and item data to Google Analytics.
      </script>

    <% else %>
      <script type="text/javascript">
        _gaq.push(['_addTrans',
          '<%= cart.items[0].legs[0].ItineraryID %>', // Order ID
          '<%= j current_host %>', //Affiliation
          '<%= number_with_precision(cart.total, precision: 2) %>', // Total
          '<%= number_with_precision(cart.total_tax, precision: 2) %>', // Tax
          '', // Shipping
          '', // City
          '', // State
          '' // Country
          ]);

        <% cart.items.each do |trip| -%>
          <% trip.legs.each do |leg| -%>
            _gaq.push(['_addItem',
              '<%= cart.items[0].legs[0].ItineraryID %>', // Order ID
              '<%= leg.WResID %>', // SKU
              "<%= leg.home_site_id %>: <%= j leg.PickupLocation %> => " +
                "<%= j leg.DropOffLocation %>",
              '<%= leg.ServiceType %>', // Category
              '<%= number_with_precision(leg.Fare, precision: 2) %>', // Price
              '1' // Quantity
              ]);
          <% end -%>
        <% end -%>

        _gaq.push(['_trackTrans']);
      </script>
    <% end %>

    <%= receipt_analytics(cart) %>
  <% end -%>

<% end -%>