<ul id="attractions-list">
  <% attractions.each do |att_site_id| %>
    <li>
      <%= image_tag site_token(att_site_id, 'NETWORK_ATTRACT_IMG') %>

      <p>
        <%= site_token(att_site_id, 'NETWORK_ATTRACT_DESC') %>
        <%= link_to cart_attraction_button,
                    attractions_url(attraction_site_id: att_site_id) %>
      </p>
    </li>
  <% end %>
</ul>
