<% if cart.items_ready_for_booking.empty? %>
  <p class="cart-empty"><%= cart_no_items %></p>
<% else %>
  <div class=" cart-container">
    <%= render partial: 'trip',
            collection: cart.items_ready_for_booking,
            locals: {
              read_only: defined?(read_only) ? read_only : false,
              cart: cart
            } %>

    <table class="total pull-right">
      <%= render partial: 'coupon', locals: { cart: cart } %>

      <tr class="total-line">
        <td>
          <%= cart_total_label %>
          <span class="total-value"><%= number_to_currency(cart.total) %></span>
        </td>
      </tr>
    </table>
  </div>
<% end %>
