<label><%= contact_header %></label>
<div class="hudson-subsection well" id="contact">
  <div class="row">
    <div class="col-sm-12">

    </div>

    <div class="col-sm-6">
      <label><%= strip_font_tags(name_label) %></label>
      <%= field_error_label(current_session, :Name) %>
      <div class="form-group input-with-icon contact-name
                <%= error_class(current_session, :Name) %>">
        <%= f.text_field :Name, class: 'form-control' %>
        <i class="fa fa-user pull-right"></i>
      </div>

      <label><%= strip_font_tags(email_label) %></label>
      <%= field_error_label(current_session, :EmailAddr) %>
      <div class="form-group input-with-icon contact-email
                <%= error_class(current_session, :EmailAddr) %>">
        <%= f.text_field :EmailAddr, type: 'email', class: 'form-control' %>
        <i class="fa fa-envelope pull-right"></i>
      </div>

      <% if show_email_validation_field? -%>
        <label><%= strip_font_tags(validate_email_label) %></label>
        <%= field_error_label(current_session, :EmailAddr_confirmation) %>
        <div class="form-group input-with-icon contact-validate-email
                    <%= error_class(current_session, :EmailAddr_confirmation) %>">
          <%= f.text_field :EmailAddr_confirmation, type: 'email', class: 'form-control' %>
          <i class="fa fa-envelope pull-right"></i>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <% if current_session.telephone_displayed? %>
        <label><%= strip_font_tags(telephone_label) %></label>
        <%= field_error_label(current_session, :Telephone) %>
        <div class="form-group input-with-icon contact-phone
                    <%= error_class(current_session, :Telephone) %>">
          <%= f.text_field :Telephone, type: 'tel', class: 'form-control' %>
          <i class="fa fa-phone pull-right"></i>
        </div>
      <% end %>

      <% if current_session.alt_telephone_displayed? %>
        <label><%= strip_font_tags(telephone2_label) %></label>
        <%= field_error_label(current_session, :Telephone2) %>
        <div class="form-group input-with-icon contact-phone2
                  <%= error_class(current_session, :Telephone2) %>">
          <%= f.text_field :Telephone2, type: 'tel', class: 'form-control' %>
          <i class="fa fa-phone pull-right"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
