<div class='modal' id='coupon-issue-modal'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class="issue-explanation">
        <p class="description"></p>
        <ul class="issues"></ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="action btn btn-primary"
                data-loading-text="Loading...">OK</button>
      </div>
    </div>
  </div>
</div>
