<% if cart.group_alias.present? || allow_coupons? %>
  <tr class="coupon-line"><td>
    <form class="apply-coupon-form">

      <!-- preloading -->
      <i class="fa fa-spinner fa-spin fa-large" style="opacity: 0"></i>

      <% if cart.group_alias.present? %>
        <em><%= cart.group_name %></em>
        <%= coupon_applied_suffix %>
        <% if !receipt? &&
              current_session.coupon_applied? &&
              allow_coupon_removal? %>
          (<button class="btn btn-link remove-coupon"
                  data-loading-text='<i class="fa fa-spinner fa-spin fa-large"></i> removing...'>
            <%= remove_coupon_label %>
          </button>)
        <% end %>

        <span class="total-discount">
          -<%= number_to_currency(cart.total_discount) %>
        </span>

      <% elsif !receipt? && allow_coupons? %>
        <div class="form-group form-inline">
          <label for="coupon">
            <%= apply_coupon_label(no_span: true) %>
          </label>

          <input type="text" name="coupon" class="form-control input-sm"
               id="coupon-code">
          <%= content_tag :button,
                          apply_coupon_button,
                          class: "btn btn-xs apply-coupon",
                          data: {
                            loading_text: '<i class="fa fa-spinner fa-spin fa-large"></i> Applying...'
                          } %>
      </div>

      <% end %>
    </form>

    <%= render partial: 'coupon_issue_modal' %>
  </td></tr>
<% end %>

