<%= credit_card_message %>
<div id="credit-card" class="row" data-required="<%= required %>">
  <div class="col-sm-6">
    <label><%= strip_font_tags(credit_card_label) %></label>
    <%= field_error_label(current_session, :CCNumber) %>
    <div class="form-group input-with-icon credit-card-number
                  <%= error_class(current_session, :CCNumber) %>">
      <%= f.text_field :CCNumber, value: mask_number(f.object.CCNumber),
              class: 'input-small form-control', id: 'cc-number',
              type: 'tel', autocomplete: 'off' %>
      <i class="fa fa-credit-card pull-right"></i>
    </div>

    <label><%= strip_font_tags(credit_card_name_label) %></label>
    <%= field_error_label(current_session, :CCDetails) %>
    <div class="form-group input-with-icon credit-card-name
                <%= error_class(current_session, :CCDetails) %>">
      <%= f.text_field :CCDetails, class: 'form-control',
                       autocomplete: 'off' %>
      <i class="fa fa-user pull-right"></i>
    </div>

    <% if current_session.ccvv_displayed? %>
      <label><%= strip_font_tags(ccvv_label(position: :bottom)) %></label>
      <%= field_error_label(current_session, :CCVV) %>
      <div class="form-group input-with-icon credit-card-ccvv
                <%= error_class(current_session, :CCVV) %>">
        <%= f.text_field :CCVV, class: 'form-control', type: 'tel',
                value: flash[:ccvv], autocomplete: 'off' %>
        <i class="fa fa-credit-card pull-right"></i>
      </div>
    <% end %>
  </div>

  <div class="col-sm-5">
    <label><%= strip_font_tags(credit_card_exp_label) %></label>
    <%= field_error_label(current_session, :CCExp) %>
    <div class="form-group">
      <%= select_month f.object.CCExp,
              {prefix: 'cart[CCExp]', field_name: 'month',
                add_month_numbers: true, use_short_month: true  },
              {class: "form-control #{error_class(current_session, :CCExp)}",
               autocomplete: 'off'} %>
      <%= select_year f.object.CCExp,
              {prefix: 'cart[CCExp]', field_name: 'year',
                start_year: Time.now.year, end_year: Time.now.year+10 },
              {class: "form-control #{error_class(current_session, :CCExp)}",
               autocomplete: 'off'} %>
    </div>

    <% if current_session.cczip_displayed? %>
      <label><%= strip_font_tags(credit_card_zip_label) %></label>
      <%= field_error_label(current_session, :CCZip) %>
      <div class="form-group input-with-icon credit-card-zip
                <%= error_class(current_session, :CCZip) %>">
        <%= f.text_field :CCZip, class: 'form-control', autocomplete: 'off' %>
        <i class="fa fa-globe pull-right"></i>
      </div>
    <% end %>
  </div>
</div>
