<% if @email_subs.present? %>
  <label><%= email_subs_header %></label>
  <div id="mailing-lists">
    <% @email_subs.each do |sub| -%>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="mailing_list[<%= sub.Key %>]"
            value="1"
            <%= 'checked' if email_sub_checked?(sub.Key) %>>
          <%= sub.Label %>
        </label>
      </div>
    <% end -%>
  </div>
<% end %>
