<div class="more-info" colspan="42">
  <p class="service"><%= leg.service_name.dehtml %></p>

  <p><span class=""><%= leg.total_passengers %></span> total passenger(s)</p>

  <% current_network.non_fixed_service_extras(leg.home_site_id).each do |extra| %>
    <% next unless leg.send(extra['FieldName']).try(:>, 0) %>
    <p><span class=""><%= leg.send(extra['FieldName']) %></span> <%= extra['Label'].dehtml %></p>
  <% end %>

  <% current_network.fixed_service_extras(leg.home_site_id).each do |extra| %>
    <% next unless leg.send(extra['FieldName']).try(:>, 0) %>
    <p><%= extra['Label'].dehtml %></p>
  <% end %>
</div>