<label><%= payment_header %></label>
<div class="hudson-subsection well">
  <%= render partial: 'payment_types' %>

  <% if offer_cc? || cc_required? %>
    <%= render partial: 'credit_card',
            locals: {f: f, required: cc_required?} %>
  <% end %>
</div>
