<input type="hidden" name="cart[payment_type]" id="payment-type"
    value="<%= current_session.payment_type %>">
<% if offer_multiple_payment_types? || only_offer_db? %>
  <style>
    <% if current_theme.button_background_color == current_theme.subsection_background_color %>
      .payment-types li.active a {
        border: 1px solid <%= current_theme.subsection_color %>;
      }
    <% end %>
    .payment-types li a {
      color: <%= current_theme.subsection_color %>;
    }
  </style>

  <ul class="nav nav-pills payment-types">
    <%= payment_type(3, pt_direct_bill_label, true) if offer_db? %>
    <%= payment_type(1, pt_credit_card_label) if offer_cc? %>
    <%= payment_type(0, pt_cash_label) if offer_cash? %>
  </ul>
<% end %>
