<% if show_points_info? -%>
  <label><%= points_header %></label>
  <div id="points">
    <p><%= points_description %></p>

    <div id="programs">
      <% if !multiple_exclusive_programs? %>
        <%= select_tag('cart[points_program]',
                       options_from_collection_for_select(exclusive_programs,
                       'program_id', 'name', f.object.points_program)) %>
      <% elsif exclusive_programs.present? %>
        <input type="hidden" name="points_program"
            value="<%= exclusive_programs.first.program_id %>">
        <p><%= exclusive_programs.first.name %></p>
      <% end -%>

      <%= programs_earning_points %>
    </div>

  </div>
<% end -%>