<% unless current_user_profile -%>
  <div id="prefrider-container">
    <p><%= preferred_rider_spiel %></p>

    <% if show_preferred_rider_button? -%>
      <button id="join-preferred-rider" class="btn hudson-button">
        <%= preferred_rider_button %>
      </button>
    <% end -%>
  </div>
<% end -%>