<% if terms_and_conditions? -%>
  <div class="form-group <%= error_class(current_session, :terms_conditions) %>">
    <%= field_error_label(current_session, :terms_conditions) %>
    <div class="checkbox" id="terms">
      <label>
        <input type="checkbox" name="cart[terms_conditions]" value="1"
            <%= 'checked' if @terms == 1 %>>
        <%= terms_and_conditions %>
      </label>
    </div>
  </div>
<% end -%>