<% if tripit_enabled? -%>
  <div id="tripit">
    <a href="/service/tripit?SITEID=<%= current_site_id %>&Action=request_token&RESID=<%= resid_list(cart) %>" target=blank>
      <%= image_tag('go/btn-add-to-tripit-grey.png') %>
    </a>
  </div>
<% end -%>