<table class="cart">
  <% trip.legs.each.with_index do |leg, i| %>
    <tr class="base-info <%= 'first-leg' if trip.legs.first == leg %> <%= 'last-leg' if trip.legs.last == leg %>">

      <%= content_tag :td, leg.WResID, class: "wresid" if leg.WResID.present? %>

      <td class="pickup location">
        <% if trip.is_attraction? %>
          <span class="loc-name"><%= leg.DropOffLocation %></span>
        <% else %>
          <span class="loc-name"><%= leg.PickupLocation %></span>
        <% end %>
        <span class="date"><%= leg.PickupTOD.to_s(:verbosedate) %></span>
        <% if show_time_in_cart?(trip) %>
          <span class="time"><%= nice_time_display(leg.PickupTOD) %></span>
        <% end %>

        <% if trip.is_attraction? && leg.YardDepartureTOD %>
          <div class="yard-departure">
            <%= cart_attraction_pickup_time %>
            <span class="date">
              <%= nice_time_display(leg.YardDepartureTOD) %>
            </span>
          </div>
        <% end %>

        <%= render partial: 'more_info', locals: {leg: leg} %>
      </td>

      <td class="arrow">
        <% unless trip.is_attraction? %>
          <i class='fa fa-arrow-right'></i>
        <% end %>
      </td>

      <td class="dropoff location">
        <% unless trip.is_attraction? %>
          <span class="loc-name"><%= leg.DropOffLocation %></span>
          <span><%= leg.DropOffTOD.to_s(:verbosedate) %></span>
          <span><%= nice_time_display(leg.DropOffTOD) %></span>
        <% end %>

        <%= render partial: 'more_info', locals: {leg: leg} %>
      </td>

      <td class="fare-container">
        <p class="fare"><%= number_to_currency(leg.fare_without_discount) %></p>
      </td>
    </tr>

    <% if trip.booking_error %>
      <tr class="booking-error">
        <td colspan="42"><%= trip.booking_error %></td>
      </tr>
    <% end %>

    <% if leg == trip.legs.last && !read_only %>
      <tr class="actions">
        <td colspan="42" >
          <%= link_to "<i>x</i>".html_safe + cart_delete_label, delete_trip_url(trip: trip_counter),
                  class: 'delete btn btn-link', method: :post,
                  data: {confirm: cart_delete_confirm} %>

          <% if !read_only && show_flight_city_marketing?(leg) %>
            <%= link_to "<i>&#8250;</i>".html_safe + cart_flight_city_caption(leg),
                  new_trip_url(trip_index: trip_counter, leg_index: i),
                  class: 'btn btn-link' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
