<%= content_tag(:h1, checkout_h1) if checkout_h1.present? %>
<%= content_tag(:div, checkout_header, class: 'checkout-head') if checkout_header.present? %>

<%= render partial: 'cart', object: cart, locals: {read_only: true} %>


<%= form_for current_session, as: 'cart', url: validate_checkout_path,
        html: { class: 'checkout-form', role: 'form' } do |f| %>

  <%= notice_box %>

  <%= render :partial => 'points', locals: {f: f} %>
  <%= render partial: 'payment', locals: {f: f} %>
  <%= render partial: 'contact_info', locals: {f: f} %>
  <%= render :partial => 'email_subs' %>

  <%= render :partial => 'terms_and_conditions' %>

  <div class="buttons">
    <% if checkout_alert_msg.present? %>
        <div class="checkout-alert">
          <%= checkout_alert_msg %>
        </div>
    <% end %>
    <a href="<%= cart_url %>"><%= back_link_caption %></a> |
    <button type="submit"
        data-loading-text="<%= book_loading_msg %>"
        class="submit btn hudson-button pull-right"><%= book_button %></button>
  </div>
<% end %>
