<%= content_tag(:h1, cart_h1) if cart_h1.present? %>
<%= content_tag(:div, cart_header, class: 'cart-head') if cart_header.present? %>

<%= notice_box %>

<%= render partial: 'cart', object: cart %>

<% unless cart.empty? %>
  <div class="buttons">
      <%= link_to cart_empty_label, empty_cart_url,
              class: 'empty btn btn-link', method: :post,
              data: {confirm: cart_empty_confirm} %> |
      <%= add_res_link %>

    <%= link_to checkout_label, checkout_url,
            class: 'btn hudson-button pull-right checkout-button',
            id: 'checkout-btn',
            data: {'loading-text' => 'Loading...'} %>
  </div>
<% end %>

<% if attractions_available? && !hide_attraction_attract? -%>
  <%= render partial: 'attraction_attract', locals: {attractions: attractions} %>
<% end -%>
