<%= render partial: 'analytics', locals: {cart: @receipt_cart} %>

<%= content_tag(:h1, receipt_h1) if receipt_h1.present? %>
<%= content_tag(:div, receipt_header, class: 'receipt-head') if receipt_header.present? %>

<%= render partial: 'cart', object: @receipt_cart, locals: {read_only: true} %>

<%= render partial: 'preferred_rider' %>
<%= render partial: 'tripit', locals: {cart: @receipt_cart} %>


<div class="buttons">
  <%= link_to print_label, 'javascript:window.print();' %>

  <% if current_user_profile.present? %>
    | <%= link_to receipt_logout_label, logout_profiles_url,
          data: {confirm: "You will be logged out and your session will be cleared.\n\nAre you sure?"},
          class: 'logout' %>
  <% end %>

  <% if show_book_another_link? %>
    | <%= link_to book_another_label, root_url %>
  <% end %>
</div>
