.fake-field {
  position: relative;
  cursor: pointer;
  background-color: white;
  height: 34px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  &.disabled {
    background-color: #EBEBE4;
    cursor: not-allowed;
  }

  .value, .placeholder {
    padding: 6px 30px 6px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .placeholder {
    color: gray;
  }

  & > i {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 14px;
  }
}
