.selector-popup {
  position: absolute;
  z-index: 100;
  background-color: white;
  width: calc(100% - 30px);
  height: auto;
  min-height: 230px;
  max-height: 400px;
  z-index: 99;
  border: 1px solid gray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  box-shadow: 3px 3px 8px #ccc;
  background-color: #eee;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid #aaa;

  .control-bar {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #eee;
    display: none;
    height: 40px;

    .close {
      height: 40px;
      width: 32px;
      text-align: center;
      font-size: 26px;
      padding-top: 5px;
      padding-right: 7px;
      opacity: 1;
      cursor: pointer;
    }
  }

  // &::-webkit-scrollbar { -webkit-appearance: none; }
  &::-webkit-scrollbar:vertical { width: 11px; }
  &::-webkit-scrollbar:horizontal { height: 11px; }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
  }
  &::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 8px;
  }

  .row { background-color: #eee; }

  .col-sm-6:first-child {
    padding-right: 0;
    border-right: 3px #eee solid;
  }
  .col-sm-6:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
    width: 47%;
  }

  & > div { -webkit-transform: translateZ(0); }
}

@media (max-width: 767px) {
  body.modal-is-open {
    overflow: hidden;
  }

  .selector-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100% !important;
    max-height: none;
    overflow-y: auto;

    .row, & > .selector-list { margin-top: 40px; }

    .control-bar { display: block; }

    .col-sm-6:nth-child(2) {
      width: auto;
      padding-left: 15px;
    }
  }
}

.selector-popup-back {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  opacity: 0;
}
