.selector-item {
  display: flex;

  .value { flex-grow: 1 }
  .forward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1px 0 5px;

    i { font-size: 18px; }
  }

  &.selected { font-weight: normal; }
}


@media (max-width: 767px) {
  .selector-item .forward { display: none; }
}
