ul.selector-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;

  .selector-list-pagebar {
    display: flex;
    padding-right: 37px;
    user-select: none;
    padding: 0;

    &:hover, &.hover {
      background-color: white;
      cursor: inherit;
    }

    .selector-list-pageback, .selector-list-pageforward {
      width: 50px;
      height: 100%;
      padding: 20px 25px;
      cursor: pointer;
      user-select: none;

      &.disabled {
        color: #EBEBE4;
        cursor: not-allowed;
      }
    }
    .selector-list-pageinfo {
      flex-grow: 1;
      text-align: center;
      padding: 20px;
    }
    .selector-list-pageforward {
      text-align: right;
      padding-right: 45px;
    }
  }

  & > li > ul { display: none; }

  li {
    padding: 8px 4px 8px 14px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;

    &.hover { background-color: #eee; }
    &:not(:last-child) { border-bottom: 1px solid #ccc; }

    &.head, &.backHead {
      font-size: 12px;
      white-space: nowrap;
      font-weight: bold;
      .title {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &.backHead {
      .backTitle {
        // position: relative;
        // left: -12px;
        font-size: 9px;
      }
    }

    &.back i, &.backHead i {
      padding-right: 3px;
      top: 1px !important; right: 0 !important;
    }

    &.back, &.list-head {
      font-size: 11px;
      padding: 9px 4px 9px 8px;
      font-weight: bold;
    }
  }
}

.auto-complete-selector ul.selector-list {
  height: 310px;
}

@media (max-width: 767px) {
  .auto-complete-selector ul.selector-list {
    overflow-y: scroll;
    height: auto;
    // max-height: 400px;
  }

  .auto-complete-selector ul.selector-list li {
    padding: 18px 4px 18px 14px;
    &.back { display: none; }
  }
}
