.airport-container .input-with-icon {
  margin-bottom: 0;
  input { cursor: pointer; }
}

.static-airport {
  height: 34px;
  padding: 6px 0;
}

.no-airports {
  font-weight: bold;
  padding: 10px 15px;
}

/* Display autocomplete field for desktop users, but not for mobile */
.airport-container {
  .airport-search-field + .fake-field { display: none;  }
}


@media (min-width: 767px) {
  .airport-container .selector-popup {
    height: auto;
    min-height: 0;

    .selector-list {
      height: auto;
      min-height: 0;
      max-height: 400px;
    }
  }
}

@media (max-width: 767px) {
  .airport-search-field { display: none !important; }
  .fake-field { display: block !important; }
  .airport-container ul.selector-list { height: auto; }
}
