<div class="leg-summary">
  <div class="prefix">

  <div class="darker-primary circle-icon">
    <%= summary_icon(leg, fixed_width: true) %>
  </div>

    <div class="text">
      <%= leg_index_summary_prefix %>
      <%= index + 1 %>
    </div>
  </div>

  <div class="summary darker-primary">
    <span><%= leg.PickupLocation %> &#8594;</span>
    <span><%= leg.DropOffLocation %></span><br/>
    <%= leg_summary_flighttod_prefix(leg.trip_index) %>
    <%= nice_date_display(leg.FlightTOD) %>

    <% unless cart.empty? %>
      <%= link_to fa_icon('shopping-cart', class: 'cart-icon'), cart_url, class: 'cart-link' %>
    <% end %>
  </div>
</div>
