<label><%= login_user_label %></label>
<div class="row">
  <div class="col-lg-12">
    <%= text_field_tag('username', @username, class: 'form-control') %>
  </div>
</div>

<label><%= login_pw_label %></label>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <%= password_field_tag('password', nil, class: 'form-control') %>
      <span class="input-group-btn">
        <button type="submit" class="btn hudson-button">
          <%= login_submit %>
        </button>
      </span>
    </div>
  </div>
</div>
