<div class="actions">
  <% if current_user_profile.present? %>
    <%= link_to profile_home_label,
            "javascript:parent.goto('preferred_riders_home');", tabindex: -1 %>
  <% else %>
    <%= link_to profile_login_label, login_window_url, class: 'login',
                tabindex: -1 %>
  <% end %>

  <% if current_group_profile.present? && current_user_profile.present? %>
    |
    <%= link_to profile_and_group_logout_label({}, noreplace: true).gsub(/%GROUPALIAS%/, current_group_alias).html_safe,
          logout_profiles_url,
          data: {confirm: "You will be logged out and your session will be cleared.\n\nAre you sure?"},
          class: 'logout' %>

  <% elsif current_group_profile.present? %>
    |
    <%= link_to clear_group_label({}, noreplace: true).gsub(/%GROUPALIAS%/, current_group_alias).html_safe,
          logout_group_profile_url,
          class: 'logout' %>
  <% elsif current_user_profile.present? %>
    |
      <%= link_to profile_logout_label, logout_profiles_url,
            data: {confirm: "You will be logged out and your session will be cleared.\n\nAre you sure?"},
            class: 'logout' %>
  <% end %>

  <%= cart_link %>
</div>
