<hr>
<div class="control-group">
  <div class="row">
    <div class="col-sm-5">
      <%= render partial: 'reservations/passengers',
              locals: { f: f, leg: leg, leg_index: leg_index } %>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <%= render partial: 'reservations/service_extras',
              locals: { f: f, leg: leg, leg_index: leg_index } %>
    </div>
  </div>
</div>
