<label class="direction-label">Direction</label>
<div class="input-group" style="width: 100%;">
  <%= f.hidden_field :direction_type, value: f.object.direction_type %>

  <div class="btn-group direction-dropdown">
    <button type="button" id="dropdown-toggle-<%= leg_index %>"
        class="btn hudson-button dropdown-toggle" tabindex="-1"
        <%= direction_contrast_border %>
        data-toggle="dropdown">
        <span class="type-label">
          <%= direction_label_with_icons(leg.direction_type || current_trip.direction_types.first.type) %>
        </span>
        <span class="pull-right">
          <i class="pull-right fa fa-chevron-down"></i>
        </span>
    </button>
    <ul class="dropdown-menu"
        style="background-color: <%= current_theme.button_background_color %>" role="menu">
      <li class="direction-type-heading"
          style="background-color: <%= current_theme.button_background_color %>;
                 color: <%= current_theme.button_color %>"><%= direction_type_header_arriving %></li>

      <% direction_types.select(&:arrival?).each do |d| %>
        <li data-direction="<%= d.direction %>" data-type="<%= d.type %>"
            data-index="<%= leg_index %>">
          <%= content_tag :a, direction_label_with_icons(d.type), class: 'hudson-button' %>
        </li>
      <% end %>
      <li class="direction-type-heading"
          style="background-color: <%= current_theme.button_background_color %>;
                 color: <%= current_theme.button_color %>"><%= direction_type_header_departing %></li>

      <% direction_types.select(&:departure?).each do |d| %>
        <li data-direction="<%= d.direction %>" data-type="<%= d.type %>"
            data-index="<%= leg_index %>">
          <%= content_tag :a, direction_label_with_icons(d.type), class: 'hudson-button' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
