<% field = defined?(field) && field ? field.to_sym : :FlightTOD %>

<div id="flight-container-<%= leg_index %>">
  <% if defined?(date_label) && date_label %>
    <%= content_tag :label, date_label %>
  <% else %>
    <%= flight_date_labels(leg_index, leg) %>
  <% end %>
  <%= field_error_label(leg, "#{field}_date") %>

  <div class="flight-date row">
    <% if !defined?(show_date) || (defined?(show_date) && show_date) %>
      <div class="col-xs-5 date">
        <div class="form-group input-with-icon">
          <%= date_selector(leg, leg_index, field) %>
          <i class="fa fa-calendar pull-right"></i>
        </div>
      </div>
    <% end %>

    <div class="col-xs-6 time">
      <div class="flight-time-label">
        <% if defined?(time_label) && time_label %>
          <%= content_tag :label, time_label %>
        <% else %>
          <%= flight_time_labels(leg_index, leg) %>
        <% end %>
        <%= field_error_label(leg, "#{field}_time") %>
      </div>

      <div class="form-group form-inline">
        <%= time_selector(leg, leg_index, field) %>
      </div>
    </div>
  </div>


  <% if trip_type == :roundtrip %>
    <label class="rt-flight-date"><%= return_flight_date_label %></label>
    <%= field_error_label(rt_leg, "#{field}_date") %>

    <div class="flight-date row">
      <div class="col-xs-5 date">
        <div class="form-group input-with-icon">
          <%= date_selector(rt_leg, 1, field) %>
          <i class="fa fa-calendar pull-right"></i>
        </div>
      </div>

      <div class="col-xs-6 time">
        <div class="flight-time-label">
          <label><%= return_flight_time_label %></label>
          <%= field_error_label(rt_leg, "#{field}_time") %>
        </div>
        <%= content_tag :div,
                        field_error_label(rt_leg, "#{field}_time"),
                        class: 'flight-time-error' %>

        <div class="form-group form-inline">
          <%= time_selector(rt_leg, 1, field) %>
        </div>
      </div>
    </div>
  <% end %>

  <% if !defined?(flight_type) || (defined?(flight_type) && flight_type) %>
    <div id="flight-type-container-<%= leg_index %>">
      <%= f.label :FlightType, flight_type_label %>
      <%= field_error_label(leg, :FlightType) %>
      <div class="input-group">
        <select class="form-control <%= error_class(leg, :FlightType) %>" name="<%= f.object_name %>[FlightType]">
          <option value='' disabled <%= "selected" if f.object.FlightType.blank? %>><%= flight_type_placeholder %></option>
          <option value='D' <%= "selected" if f.object.FlightType == 'D' %>>Domestic</option>
          <option value='I' <%= "selected" if f.object.FlightType == 'I' %>>International</option>
        </select>
      </div>
    </div>
  <% end %>
</div>
