<div class="<%= leg_container_class(leg_index, (defined?(hide) && hide)) %>">
  <%= f.fields_for leg_index.to_s, current_trip.base_legs[leg_index] do |fl| %>
    <%= fl.hidden_field :Direction %>
    <%= leg_headers(leg_index, leg.Direction, trip_type) %>

    <div class="control-group tab-content hudson-subsection panel leg">
      <%= render partial: 'direction', object: leg.Direction,
              locals: {f: fl, leg: leg, trip_type: trip_type,
              leg_index: leg_index, direction_types: direction_types } %>

      <div class="row">
        <%= leg(leg_index, leg) %>

        <div class="col-sm-6 col-sm-offset-1">
          <%= render partial: 'flight', locals: {
                  trip_type: trip_type, leg: leg,
                  rt_leg: (defined?(rt_leg) ? rt_leg : nil),
                  f: fl, leg_index: leg_index } %>
        </div>
      </div>

      <%= render partial: 'additional_fields',
              locals: { f: fl, leg: leg, leg_index: leg_index } %>
    </div>
  <% end %>
</div>
