<div class='modal' id='login-modal'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <%= form_tag nil, role: 'form', class: 'login-modal-form' do %>
        <input type="hidden" name="redirect_to"
               value="<%= request.base_url + request.path %>">
        <%= render partial: 'shared/login_form' %>
      <% end %>
    </div>
  </div>
</div>
