<%= field_error_label(leg, :passengers) %>
<div class="panel-group <%= error_class(leg, :passengers) %>">
  <div class="panel panel-default">
    <div class="panel-heading passengers-header">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse"
            tabindex= "-1"
            href="#passengers-form-<%= leg_index %>">
          <i class="fa fa-user"></i><span id="passenger-count-<%= leg_index %>"><%= leg.total_passengers %></span>
          total passenger(s)
          <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
        </a>
      </h4>
    </div>

    <div id="passengers-form-<%= leg_index %>"
        class="passengers-form panel-collapse collapse in"
        data-leg="<%= leg_index %>">
      <div class="panel-body">
        <% current_network.passenger_types.each do |pt| -%>
          <div class="input-group">
            <%= f.label pt.field_name, dehtml(pt.label) %>
            <%= f.select pt.field_name, (0..pt.max_passengers), {},
                    class: 'passenger-count form-control',
                    data: { leg: leg_index } %>
          </div>
        <% end -%>

      </div>
    </div>
  </div>
</div>
