<% if current_group_profile.present? %>
  <div id="group-profile-content">
    <%= group_profile_logo %>

    <% if current_group_profile.WEBLogonStr.present? %>
      <p>
        <%= current_group_profile.WEBLogonStr.fix_image_urls(current_site_id).html_safe %>
      </p>
    <% end %>
  </div>
<% end %>

<% if current_user_profile.present? %>
  <div id="user-profile-content">
    <% if current_user_profile.Name.present? %>
      <p class="welcome"><%= welcome_back_msg %> <%= current_user_profile.Name %></p>
    <% end %>

    <% if profile_welcome_message(current_user_profile).present? %>
      <p><%= profile_welcome_message(current_user_profile) %></p>
    <% end %>
  </div>
<% end %>
