<% if bag_count_label(site_id).blank? &&
      current_network.service_extras(site_id).empty? %>
  <p><%= service_extras_missing_msg %></p>
<% end %>

<%= fields_for "trip[#{leg_index}]",leg do |f| %>
  <% if bag_count_label(site_id).present? %>
    <div class="form-group service-extra-field unfixed-service-extra">
      <%= f.select :BagCount, (0..30), {}, class: 'extras-count form-control' %>
      <label><%= bag_count_label(site_id) %></label>
    </div>
  <% end %>

  <% unfixed.each do |extra| %>
    <div class="form-group service-extra-field unfixed-service-extra">
      <%= f.select extra.field_name,
                  (0..extra.maximum),
                  {},
                  class: 'extras-count form-control' %>
      <%= service_extra_label(f, extra) %>
    </div>
  <% end if unfixed %>

  <% fixed.each do |extra| %>
    <div class="checkbox service-extra-field input-group">
      <label>
        <%= f.check_box extra.field_name %>
        <%= service_extra_label(f, extra) %>
      </label>
    </div>
  <% end if fixed %>
<% end %>
