<div class="panel-group" class="extras-panel">
  <div class="panel panel-default">
    <div class="panel-heading svc-extras-header">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" tabindex= "-1"
            href="#svc-extras-form-<%= leg_index %>">
          <i class="fa fa-briefcase"></i><%= service_extras_label %>
          <span class="pull-right"><i class="fa fa-chevron-up"></i></span>
        </a>
      </h4>
    </div>

    <div id="svc-extras-form-<%= leg_index %>"
        class="svc-extras-form panel-collapse collapse in"
        data-leg="<%= leg_index %>"
        data-empty-msg="<%= service_extras_info_msg %>">
      <div class="panel-body">
        <%= service_extras_info_msg %>
      </div>
    </div>
  </div>
</div>
