<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title></title>

  <style>
  body { margin: 0; }
  </style>
</head>

<body>
  Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
<iframe id="res_frame" allowtransparency="true" marginwidth="0" marginheight="0" vspace="0" hspace="0"
          width="100%" height="1100"
          style="overflow:hidden; background-color: transparent; background-image: none; border-top: 2px solid red; border-bottom: 2px solid red"
          class="" src="<%= services_path %>" frameborder="0" frame_id="res_frame" scrolling="no"
          ></iframe>

</body>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>
Long Test content<br>

</html>
