<%= render partial: 'profile' %>

<%= reservation_page(:multi, max_legs: current_trip.max_legs) do %>
  <%= form_for current_trip, as: :trip, url: update_legs_path,  html: { role: 'form' } do |f| %>
    <%= trip_type_selector(:multi) %>
    <%= render partial: 'actions' %>
    <%= multileg_header %>

    <%= hidden_field_tag :leg_count, current_trip.leg_count %>
    <% current_trip.max_legs.times do |i| %>
      <%= render partial: 'leg', locals: {
              f: f, leg: current_trip.base_legs[i], trip_type: :multi, leg_index: i,
              hide: (current_trip.leg_count < i+1),
              direction_types: direction_types } %>
    <% end %>

    <div class="multi-leg-buttons btn-group pull-left">
      <button class="btn btn-link remove-leg"><i class="fa fa-minus"></i> Remove this leg</button>
      <button class="btn btn-link add-leg"><i class="fa fa-plus"></i> Add another leg</button>
    </div>
    <button type="submit"
        data-loading-text="Loading..."
        class="submit btn btn-hudson pull-right">Continue</button>

  <% end %>
<% end %>
