<%= render partial: 'profile' %>
<%= reservation_page(:oneway) do %>
  <%= form_for current_trip, as: :trip, url: update_legs_path,  html: { role: 'form' } do |f| %>
    <%= trip_type_selector(:oneway) %>
    <%= render partial: 'actions' %>
    <%= oneway_header %>

    <%= render partial: 'leg', locals: {
            f: f, leg: current_trip.legs[0], trip_type: :oneway, leg_index: 0,
            direction_types: direction_types(except: %w(C)) } %>

    <button type="submit"
        data-loading-text="Loading..."
        class="submit btn btn-hudson pull-right">Continue</button>
  <% end %>
<% end %>