body {
	background-color: #ffffff;
}
h1 {
	color: #006600;
  margin-top: 15px;
}
#form_add_site {
	background-color: #eeffde;
	border-color: #545454;
}
.error_message {
	background-color: red;
	color: white;
}
.notice_message {
	background-color: green;
	color: white;
}
.site_error_message {
	color: #dc3629;
}
#links li, #links a, #links a:visited, .site_translations a {
	color: #006600;
}
#links a:hover, .site_translations a:hover {
	color: black;
}

#links li {
	display: inline;
}

/* Auto Completion  */
div.auto_complete {
	background: #fff;
}
div.auto_complete ul {
	border-color: #888;
}
div.auto_complete ul li.selected {
	background-color: #eeffde;
}
div.auto_complete ul strong.highlight {
	color: #800;
}

@import url(all.css);

html {
	text-align: center;
}

body {
	position: relative;
	width: 770px;
	margin: 0 auto;
	text-align: left;
}
p + p {
	padding-top: 10px;
}

#help_text {
	width: 385px;
}
#form_add_site {
	border-style: solid;
	border-width: 1px 0;
	padding: 10px;
	margin-bottom: 0;
}
.error_message, .notice_message {
	padding: 3px 0px 3px 25px;
}
#groundnet_site_auto_complete {
	left: 55px !important;
}
ul#site_list {
	margin-top: 15px;
	padding-left: 5px;
}
ul#site_list li {
	list-style-type: none;
}
ul#site_list li.site_error {
	border-left: 8px double #dc3629;
	padding-left: 1em;
}
.site_name, .site_error_message {
	display: inline;
}
ul#site_list .button_delete, ul#site_list .button_refresh, ul#site_list .button_service_area, #button_save {
	position: relative;
	left: 5px;
	top: 4px;
	margin-top: -5px;
}
ul#site_list .button_refresh, ul#site_list .button_service_area {
	left: 2px;
}
.inplaceeditor-form {
	display: inline;
	background-color: white;
}
.service_area_field {
	background-color: white;
}
.editor_field {
	margin-right: 5px;
}
.editor_ok_button {
	margin-right: 8px;
}
#links li {
	margin-bottom: 0;
	list-style-type: none;
	padding-left: 12px;
	font-size: 110%;
}
#links li:first-child { padding-left: 0; }
#links {
	text-align: left;
	padding-left: 0;
	margin-bottom: 0;
}
#content_advanced {
	padding-top: 7px;
	border-top: 1px solid;
}
#content_advanced label {
	display: block;
}
#button_save {
	display: block;
	left: 0;
	top: 20px;
}
.site_translations a {
	margin-right: 5px;
}
#translation_table td {
	padding-right: 20px;
}


/* Auto Completion  */
div.auto_complete {
	width: 350px;
	z-index: 90;
}
div.auto_complete ul {
	border-style: solid;
	border-width: 1px;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}
div.auto_complete ul li {
	margin: 0;
	padding: 3px;
}
div.auto_complete ul strong.highlight {
	margin: 0;
	padding: 0;
}

#press_release label {
	margin-top: 10px;
}



#form_add_site label {
	font-weight: bold;
	font-size: 110%;
}
.error_message, .notice_message {
	font-weight: bold;
}
.site_name {
	font-weight: bold;
	font-size: 130%;
}
.site_error_message {
	font-weight: bold;
}
.editor_field, .editor_ok_button {
	font-size: 90%;
}
label {
	font-weight: bold;
}
#links a, #links a:visited {
	font-size: 110%;
	font-weight: bold;
}
#translation_table th {
	font-weight: bold;
}
select {
	font-size: 90%;
}
