/*
*= require font-awesome
*/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.attractions-notice {
  margin-top: 20px;
  border: 2px dotted gray;
  padding: 10px;
  border-radius: 5px;

  p {
    margin: 4px;
    & + p { padding-top: 0; }
  }
}

#branding { height: 50px;}
h1 {
  font-size: 20px;
  font-style: normal;
  margin-top: 5px;
}

.add-trans-site { background-color: #FEDB3F; }
.add-att-site { background-color: #644741; color: white;}

table.table tbody {
  tr.error > th { background-color: #f2dede; }

  th { border-top: 0; }

  th, td.advanced {
    position: relative;
    font-size: 15px;
    vertical-align: middle;
  }

  th.site-name {
    max-width: 365px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th:nth-child(-n+2) { vertical-align: bottom; }

  th .site-type {
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 0;
    font-size: 11px;
    color: white;
    border-bottom-right-radius: 8px;
    padding: 3px 10px;
    z-index: 999;

    i { margin-right: 4px; }

    &.transpo {
      background-color: #FEDB3F;
      color: black;
    }
    &.attract { background-color: #644741; }
  }

  td {
    &.translations {
      width: 120px;
      text-align: center;
    }

    &.actions {
      width: 71px;
      text-align: center;
    }

    .dropdown-menu { text-align: left; }
  }
}

.site-airports {
  border-bottom: 1px solid black;

  .add-airport { margin-top: 8px; }
  .add-airport select { margin-right: 6px; }
  .remove-airport {
    margin-left: 5px;
    cursor: pointer;
  }


}

.site-details {
  padding-bottom: 50px !important;
  border-bottom: 1px solid black;
  p {
    margin-bottom: 0;
    padding-top: 4px;

    &.service-area-container {
      float: left;
      margin-right: 25px;
    }

    label {
      font-size: 12px;
      margin-bottom: 2px;
    }

    .service-area-id, .attraction-site-id, .service-area {
      font-size: 12px;
      padding: 2px;
    }

    .service-area-id { width: 30px; }
    .attraction-site-id { width: 75px; }
    .service-area { width: 500px; }

    span {
      font-size: 12px;
    }

  }
}

p.site_airport {
  margin-bottom: 0;
  padding-top: 4px;
  font-size: 12px;
}

ul.dropdown-menu li {
  margin-bottom: 0;
}

input#groundnet_site {
  width: 90px;
}

select {
  height: 20px;
  font-size: 12px;
}

// Translation pages
td.service-name, td.service-extra, td.passenger-type {
  padding-bottom: 10px;
}
