/* This is the Holly Hack \*/
* html .wrap { height: 1% }
/* For Win IE's eyes only */

body {
	border: none;
}
a {
/*	border-bottom: 1px solid #69c; */
	color: #00019b;
	text-decoration: none;
}
em {
	font-family: "Lucida Sans", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

body	{
	background: #f6f7fb;
	color: #000;
	margin: 0;
	padding: 0;
}

body, td {
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

fieldset {
	border: none;
	padding: 3px;
}

fieldset legend {
	padding: .1em .3em;
}

form, label input {
	margin: 0;
	padding: 0;
}

label {
	font-size: 90%;
	font-weight: bold;
}

h2 {
	border-bottom: .5em solid #e5f3ff;
	color: #333;
	font: normal 32px/5px Georgia, "Times New Roman", Times, serif;
	margin: 5px 10px;
	padding: 0 5px 6px 0;
}


input:focus, textarea:focus, label:focus {
	background: #fff;
	border: 1px solid #686868;
}

label {
	cursor: pointer;
}

li, dd {
	margin-bottom: 6px;
}

p, li, dl, dd, dt {
	line-height: 140%;
}

textarea, input, select {
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	margin: 1px;
	padding: 3px;
}

.submit input, .submit input:focus, .button, .button:focus {
	background-color: f6f7fb;
	border: 3px double #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
	padding: 0.25em;
}

.submit input:active, .button:active {
	background: #f4f4f4;
	border: 3px double #ccc;
	border-left-color: #999;
	border-top-color: #999;
}

.button, .button:focus {
	padding: 0.15em;
}

* html .button {
	padding: 0;
}

.submit {
	text-align: right;
}

.error {
	background: #FFEFF7;
	border: 1px solid #c69;
	margin: 1em 5% 10px;
	padding: 0 1em 0 1em;
}

input.disabled, textarea.disabled {
	background: #ccc;
}

/* === */

#login {
	position: relative;
	background: url('../../images/go/background.login.jpg') no-repeat top center;
	color: #fff;
	margin: 8em auto .5em;
	padding: 35px 0 0;
	width: 425px;
	_width: 390px;
}

#login form, #login .protected {
	background: url('../../images/go/background.login.bottom.jpg') no-repeat bottom center;
	padding: 0 50px 25px;
	_width: 325px;
	_margin: 0 auto;
}

#login .protected {
	padding-top: 25px;
}

#login #login_error {
	background: #612f2f;
	border: 1px solid #ab4646;
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding: .6em;
	width: 310px;
	margin: 0 50px;
	text-align: left;
}

#login p { 
	font-size: 12px;
}

#login p.message { 
	width: 310px;
	margin: 0 auto 1em;
}

#login #login_error a {
	color: #ebcd4e;
	border-color: #ebcd4e;
}

#login #send {
	color: #fff;
	text-align: left;
	font-weight: normal;
	font-size: 1.1em;
	_width: 325px;
	_margin: 0 auto 15px;
}

#login .hide {
	display: none;
}

#login .message {
	font-size: 10pt;
	text-align: center;
}

#login .register {
	font-size: 20px;
}

#login input {
	padding: 4px;
}

.login ul, #protected #login .bottom {
	list-style: none;
	width: 325px;
	margin: 0 auto;
	padding: 0;
	line-height: 1.2;
}

.login ul li {
	font-size: 11px;
}

.login ul li a {
	color: #0d324f;
	border: none;
}

#login ul li a:hover {
	color: #fff;
}

#login .input {
	font-size: 1.8em;
	margin-top: 3px;
	width: 97%;
}

#login p label { 
	font-size: 11px;
}

#login #submit {
	margin: 0;
	font-size: 15px;
}

#login .fullwidth {
	width: 320px;
}