<p class="site_airport"
   data-code="<%= airport.Code %>"
   data-airport="<%= airport.ID %>">
  <%= airport.Description %>
  <%= fa_icon('remove',
              'data-airport' => airport.ID,
              'data-code' => airport.Code,
              class: 'remove-airport') %>
</p>
