<tr class="site <%= site.Active ? '' : 'error' %>"
    data-type="attraction"
    data-site-id="<%= site.ID %>">

  <th>
    <%= site_icon(site) %>&nbsp;<%= site.ProviderSiteId %>
  </th>
  <th colspan="2" class="site-name"><%= site.Name %></th>

  <td class="actions">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-warning btn-small" data-toggle="dropdown" href="#">
        Actions <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <% if site.Active? -%>
            <%= link_to 'Disable site',
                    { :action => 'disable_site', :attraction => site.ProviderSiteId } %>
          <% else -%>
            <%= link_to 'Enable site',
                    { :action => 'activate_site', :attraction => site.ID } %>
          <% end -%>
        </li>

        <li>
          <%= link_to 'Remove site',
                  { action: 'delete_site', attraction: site.ID },
                  { method: 'delete',
                    data: {
                      confirm: "This site will be removed from the list of sites.\n\nAre you sure?" } }%>
        </li>
      </ul>
    </div>
  </td>

  <td class="advanced">
  </td>
</tr>

<tr data-type="attraction" data-site-id="<%= site.ID %>">
  <td colspan="5" class="site-airports">
    <p class="site_error_message"><%= site.ErrorMessage %>
      <% if site.ErrorOccurredAt -%>
        (on <%= nice_date_display(site.ErrorOccurredAt) %>)
      <% end -%>
    </p>

    <div class="site_airports">
      <label>Airports served</label>
      <div class="airport-list">
        <%= render partial: 'airport', collection: site.airports %>
      </div>

      <form class="add-airport"
            <%= 'style="display: none;"'.html_safe if site.unattached_airports.empty? %>>
        <input type="hidden" name="id" value="<%= site.ID %>">
        <%= select_tag(:airport,
                       attraction_airport_options(site),
                       include_blank: true) %>
        <button class='btn btn-xs'>Add airport</button>
      </form>
    </div>
  </td>
</tr>
