<%= content_tag :tr, class: (site.Active ? '' : 'error') do %>
  <th>
    <%= site_icon(site) %>&nbsp;<%= site.ProviderSiteId %>
  </th>
  <th class="site-name"><%= site.Name %></th>

  <td class="translations">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-info btn-small" data-toggle="dropdown" href="#">
        Translations <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'Services', :action => 'services', :site => site.ProviderSiteId %>
        </li>
        <li>
          <%= link_to 'Passenger types' , :action => 'passenger_types', :site => site.ProviderSiteId %>
        </li>
      </ul>
    </div>
  </td>

  <td class="actions">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-warning btn-small" data-toggle="dropdown" href="#">
        Actions <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <% if site.Active? -%>
            <%= link_to 'Disable site',
                    { :action => 'disable_site', :site => site.ProviderSiteId } %>
          <% else -%>
            <%= link_to 'Enable site',
                    { :action => 'activate_site', :groundnet_site_id => site.ID } %>
          <% end -%>
        </li>

        <li>
          <%= link_to 'Remove site',
                  { action: 'delete_site', groundnet_site_id: site.ID },
                  { method: 'delete',
                    data: {
                      confirm: "This site will be removed from the list of sites.\n\nAre you sure?" } }%>
        </li>
      </ul>
    </div>
  </td>

  <td class="advanced">
		<%= link_to 'Advanced', :action => 'site_advanced', :site => site.ProviderSiteId %>
  </td>
<% end %>

<tr>
  <td colspan="2" class="site-details">
    <p class="site_error_message"><%= site.ErrorMessage %>
    <% if site.ErrorOccurredAt -%> (on <%= nice_date_display(site.ErrorOccurredAt) %>)<% end -%></p>

    <%= form_tag :update_site_details, role: 'form' do %>
      <%= hidden_field_tag :id, site.ID %>

      <% if !current_network.single_site? -%>
        <div class="form-group">
          <label>Region</label>
          <%= text_field_tag :ServiceArea, site.ServiceArea.try(:html_safe), class: 'service-area form-control' %>
        </div>
      <% end -%>

      <div class="service-area-container form-group" style="width: 110px;">
        <label>Service area ID</label>
        <%= text_field_tag :ServiceAreaID, site.service_area_id, class: 'service-area-id form-control' %>
      </div>

      <%= submit_tag 'Update', class: 'btn btn-small' %>

    <% end %>
  </td>

  <td colspan="3" class="site-airports">
    <div class="site_airports">
      <label>Airports served</label>
      <% site.airports.sort {|a,b| a.Description <=> b.Description}.each do |airport| -%>
        <p class="site_airport"><%= airport.Description %></p>
      <% end -%>
    </div>
  </td>
</tr>
