<% content_for(:help_text) do -%>
	<h1>Advanced Configuration</h1>
<% end -%>

<div id="content_advanced">
	<%= form_tag do %>
		<label>Currency Type</label>
		<%= text_field_tag 'currency_out', @currency_out, class: 'input-small',
            :size => 15, :maxlength => 10 %>

    <label>Passenger Type Filter</label>
    <%= text_field_tag 'passenger_type_filter',
                       @passenger_type_filter,
                       class: 'input-small',
                       size: 15, maxlength: 10 %>

    <label style="margin-top:15px;" >
      <%= check_box_tag 'ga_universal', 1, @ga_universal.to_s == '1' %>
      Use Google Analytics Universal Analytics
    </label>

    <label style="margin-top:15px;">
      <%= check_box_tag 'single_site', 1, @single_site.to_s == '1' %>
      Single-Site Setup
    </label>

    <label style="margin-top:15px;">
      <%= check_box_tag 'oneway', 1, @oneway.to_s == '1' %>
      Disable one-way
    </label>

    <label style="margin-top:15px;">
      <%= check_box_tag 'roundtrip', 1, @roundtrip.to_s == '1' %>
      Disable round-trip
    </label>

    <label style="margin-top:15px;">
      <%= check_box_tag 'multi_leg', 1, @multi_leg.to_s == '1' %>
      Disable multi-leg
    </label>

    <label style="margin-top:15px;">
      <%= check_box_tag 'cruise', 1, @cruise.to_s == '1' %>
      Enable cruise
    </label>

    <label style="margin-top:15px;">
      <%= check_box_tag 'hide_tab_bar', 1, @hide_tab_bar.to_s == '1' %>
      Hide the trip-types tab bar.
    </label>

    <label style="margin-top:15px;">
      <%= check_box_tag 'cruise_separate', 1, @cruise_separate.to_s == '1' %>
      Treat cruise as a separate app. This means:
    </label>
    <ul>
    <li>Other trip options (ex. one-way, round-trip) will not be shown when customers are on the cruise page.</li>
    <li>The cruise option will not be shown when customers are on other pages.
    <li><strong>However</strong> - cruise trips will be stored in the same shopping cart as other trip types (ex. one-way, round-trip).
    </ul>

    <label style="margin-top: 12px;">Multi-leg maximum number of legs supported</label>
    <%= text_field_tag 'multi_leg_max_legs', @multi_leg_max_legs, class: 'input-small',
            :size => 5, :maxlength => 2 %>

    <label style="margin-top: 12px;">Multi-leg initial number of legs displayed</label>
    <%= text_field_tag 'multi_leg_init_legs', @multi_leg_init_legs, class: 'input-small',
            :size => 5, :maxlength => 2 %>



    <%= submit_tag 'Save', id: 'button_save', class: 'btn btn-small' %>
	<% end -%>
</div>
