<% content_for(:help_text) do -%>
	<h1>Airport Group Configuration</h1>
<% end -%>

<%= stylesheet_link_tag 'configuration/map_regions', :media => 'all' %>
<%= GMap.header(:host => request.host, :without_js => true)%>
<%# javascript_include_tag 'locator/pdmarker', 'locator/ym4r-gm' %>
<%= @map.to_html %>

<div id="content_advanced" style="padding-top: 0px;">
<% if flash[:error] -%>
	<p class="error_message" style="margin-top: 0;"><%= flash[:error] %></p>
<% end -%>

<%= form_tag do %>
	<label style="margin-top: 10px;">Description</label>
	<%= text_field_tag 'description', @group.Description, :size => 40 %>
	<br/>

	<label style="margin-top: 10px;">Alternate Icon (URL to icon image)</label>
	<%= text_field_tag 'IconURL', @group.map_point.IconURL, :size => 75 %>


	<p>Drag the icon to move it.</p>
	<div id="locations_map_panel"></div>

	<input id="Lat" name="Lat" type="hidden" value="<%= @group.map_point.Lat %>">
	<input id="Long" name="Long" type="hidden" value="<%= @group.map_point.Long %>">

	<%= hidden_field_tag 'group_id', @group.ID %>
	<%= hidden_field_tag 'do', 'update' %>

	<div style="margin-top: 5px;">
		<%= image_submit_tag('go/save_button.jpg',
					:style => 'float: left; margin-right: 15px;',
					:onmouseover => "this.src = '#{image_path('go/save_button_hover.jpg')}'",
					:onmouseout => "this.src = '#{image_path('go/save_button.jpg')}'") %>
		<%= link_to(image_submit_tag('go/back_button.png',
						:onmouseover => "this.src = '#{image_path('go/back_button_hover.png')}'",
						:onmouseout => "this.src = '#{image_path('go/back_button.png')}'"),
			 		{:action => 'map'}) %>
	</div>

<% end -%>

<% unless @group.new_record? -%>
	<div style="border-top: 1px dashed gray; margin-top: 25px; padding-top: 10px;">
		<h2>Associated Airports</h2>
		<p style="margin-top: -15px;">To add an airport to this group, associate it in the airport configuration.</p>
		<% if @group.airports.empty? -%>
			None

		<% else -%>
			<% @group.airports.each do |airport| -%>
				<%= airport.Description %><br/>
			<% end -%>
		<% end -%>

	</div>


	<div style="border-top: 1px dashed gray; margin-top: 25px; padding-top: 10px;">
		<%= form_tag( {:action => 'airport_group'},
					 {:onSubmit => 'return confirm("This airport group will be deleted, are you sure?")'}) do %>
			<%= hidden_field_tag 'group_id', @group.ID %>
			<%= hidden_field_tag 'do', 'delete' %>
			<%= submit_tag('Delete this Group') %>
		<% end -%>
	</div>

<% end -%>

</div>