<% content_for(:help_text) do -%>
	<h1>Airport Configuration</h1>
<% end -%>

<%= stylesheet_link_tag 'configuration/map_regions', :media => 'all' %>
<%= GMap.header(:host => request.host, :without_js => true)%>
<%# javascript_include_tag 'locator/pdmarker', 'locator/ym4r-gm' %>
<%= @map.to_html %>

<div id="content_advanced" style="padding-top: 0px;">
<% if flash[:error] -%>
	<p class="error_message" style="margin-top: 0;"><%= flash[:error] %></p>
<% end -%>
<% if @airport.active_sites.empty? && !@airport.new_record? -%>
	<p class="error_message" style="margin-top: 0;">This airport will not be shown on the locator, there are no active sites associated with it.</p>
<% end -%>

<label style="margin-top: 10px;">Description</label>
<%= text_field_tag 'description', @airport.Description, :size => 40 %>
<br/>
<label style="margin-top: 10px;">Code (ex. jfk)</label>
<%= text_field_tag 'Code', @airport.Code, :size => 40 %>
<br/>

<%= form_tag do %>
	<label style="margin-top: 10px;">Airport Group</label>
	<select name="airport_group">
		<option value=''>No Group</option>
		<%= options_from_collection_for_select(@groups, 'ID', 'Description', @airport.AirportGroupID) %>
	</select>

	<div style="margin-top: 7px; margin-bottom: 7px;">
		<label style="margin-top: 10px;">Alternate Icon (URL to icon image)</label>
		<%= text_field_tag 'IconURL', @airport.map_point.IconURL, :size => 75 %>
	</div>

	<p>Drag the icon to move it.</p>
	<div id="locations_map_panel"></div>

	<input id="Lat" name="Lat" type="hidden" value="<%= @airport.map_point.Lat %>">
	<input id="Long" name="Long" type="hidden" value="<%= @airport.map_point.Long %>">

	<%= hidden_field_tag 'airport_id', @airport.ID %>
	<%= hidden_field_tag 'do', 'update' %>

	<div style="margin-top: 5px;">
		<%= image_submit_tag('go/save_button.jpg',
					:style => 'float: left; margin-right: 15px;',
					:onmouseover => "this.src = '#{image_path('go/save_button_hover.jpg')}'",
					:onmouseout => "this.src = '#{image_path('go/save_button.jpg')}'") %>
		<%= link_to(image_submit_tag('go/back_button.png',
						:onmouseover => "this.src = '#{image_path('go/back_button_hover.png')}'",
						:onmouseout => "this.src = '#{image_path('go/back_button.png')}'"),
			 		{:action => 'map'}) %>
	</div>

<% end -%>

<% if !@airport.new_record? && @airport.active_sites.empty? -%>
	<div style="border-top: 1px dashed gray; margin-top: 25px; padding-top: 10px;">
		<%= form_tag( {:action => 'airport'},
					 {:onSubmit => 'return confirm("This airport will be deleted, are you sure?")'}) do %>
			<%= hidden_field_tag 'airport_id', @airport.ID %>
			<%= hidden_field_tag 'do', 'delete' %>
			<%= submit_tag('Delete this Airport') %>
		<% end -%>
	</div>

<% end -%>

</div>