<% content_for(:help_text) do -%>
	<h1>Site Configuration</h1>
<% end -%>

<%= form_tag(add_site_path(site_id: current_site_id), :id => 'form_add_site', role: 'form', class: 'form-inline') do %>
	<div class="form-group">
		<%= text_field_tag('groundnet_site',
												params[:groundnet_site], class: 'form-control', placeholder: 'Site ID') %>
		<%= submit_tag 'Add as transportation site',
                   name: 'transportation',
                   class: 'btn btn-sm add-trans-site' %>
    <%= submit_tag 'Add as attractions site',
                   name: 'attraction',
                   class: 'btn btn-sm add-att-site' %>
	</div>
<% end -%>

<% if flash[:error] -%>
	<p class="error_message"><%= flash[:error] %></p>
<% end -%>
<% if flash[:message] -%>
	<p class="notice_message"><%= flash[:message] %></p>
<% end -%>

<% unless @sites.empty? -%>
	<table class="table table-striped">
		<% @sites.each do |site| -%>
      <% if site.is_a? Network::Site %>
		 	  <%= render partial: 'site', object: site -%>
      <% else %>
        <%= render partial: 'attraction',
                   object: site,
                   locals: {site: site } -%>
      <% end %>
		<% end -%>
	</table>
<% end -%>
