<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<title>Go Airport Shuttle Configuration &rsaquo; Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<%= stylesheet_link_tag 'configuration/login' %>
	<!--[if IE]><style type="text/css">#login #login_error { margin-bottom: 10px; }</style><![endif]-->

	<script type="text/javascript">
		function focusit() {
			document.getElementById('user').focus();
		}
		window.onload = focusit;
	</script>
</head>
<body class="login">

<div id="login">
	<% if flash[:error] -%>
		<div id="login_error"><%= flash[:error] %></div>
	<% end -%>

	<%= form_tag :action => 'login' do %>
		<p>
			<label>Username:<br />
			<input type="text" name="user" id="user" class="input" value="" size="20" tabindex="10" /></label>
		</p>
		<p>
			<label>Password:<br />
			<input type="password" name="password" class="input" value="" size="20" tabindex="20" /></label>
		</p>
		<p class="submit">
			<input type="submit" value="Login" tabindex="100" />
		</p>
	<% end -%>
</div>

</body>
</html>
