<% content_for(:help_text) do -%>
	<h1>Map Configuration</h1>
<% end -%>

<div id="content_advanced">

	<div style="float: left; width: 250px;">
		<h2>Airports</h2>
		<p>Airports that are to be represented on the locator map.</p>
		<% @airports.each do |airport| -%>
			<%= link_to(airport.Description, {:action => 'airport', :airport_id => airport.ID}) %><br/>
		<% end -%>
		<%= link_to('Add a New Airport...', {:action => 'airport'}) %>
	</div>

	<div style="width: 250px; overflow: hidden; position: absolute; left: 260px;">
		<h2>Airport Groups</h2>
		<p>Groupings of airports that display as one location on the locator map. This is useful for areas with many airports clustered together (like New York City) </p>
		<% @airport_groups.each do |group| -%>
			<%= link_to(group.Description, {:action => 'airport_group', :group_id => group.ID}) %><br/>
		<% end -%>
		<%= link_to('Add a New Group...', {:action => 'airport_group'}) %><br/>
	</div>

	<div style="width: 250px; overflow: hidden; position: absolute; left: 520px;">
		<h2>Map Regions</h2>
		<p>The regions that appear below the locator, allowing the user to zoom into certain areas of the map.</p>
		<% @regions.each do |region| -%>
			<%= link_to(region.Name, {:action => 'map_regions', :region_id => region.ID}) %><br/>			
		<% end -%>
		<%= link_to('Add a New Region...', {:action => 'map_regions'}) %>
	</div>	
	
</div>