<% content_for(:help_text) do -%>
	<h1>Map Region Configuration</h1>
<% end -%>

<%= stylesheet_link_tag 'configuration/map_regions', :media => 'all' %>
<%= GMap.header(:host => request.host, :without_js => true)%>
<%# javascript_include_tag 'locator/pdmarker', 'locator/ym4r-gm' %>
<%= @map.to_html %>

<div id="content_advanced" style="padding-top: 0px;">
<% if flash[:error] -%>
	<p class="error_message" style="margin-top: 0;"><%= flash[:error] %></p>
<% end -%>

<%= form_tag do %>
	<label style="margin-top: 10px;">Name</label>
	<%= text_field_tag 'Name', @region.Name, :size => 40 %>
	<br/>
	<p>Pan and zoom the map to display your region.</p>
	<div id="locations_map_panel"></div>

	<input id="Lat" name="Lat" type="hidden" value="<%= @region.Lat %>">
	<input id="Long" name="Long" type="hidden" value="<%= @region.Long %>">
	<input id="ZoomLevel" name="ZoomLevel" type="hidden" value="<%= @region.ZoomLevel %>">
	<%= hidden_field_tag 'region_id', @region.ID %>
	<%= hidden_field_tag 'do', 'update' %>

	<div style="margin-top: 5px;">
		<%= image_submit_tag('go/save_button.jpg',
					:style => 'float: left; margin-right: 15px;',
					:onmouseover => "this.src = '#{image_path('go/save_button_hover.jpg')}'",
					:onmouseout => "this.src = '#{image_path('go/save_button.jpg')}'") %>
		<%= link_to(image_submit_tag('go/back_button.png',
						:onmouseover => "this.src = '#{image_path('go/back_button_hover.png')}'",
						:onmouseout => "this.src = '#{image_path('go/back_button.png')}'"),
			 		{:action => 'map'}) %>
	</div>

<% end -%>

<% unless @region.new_record? -%>

	<div style="border-top: 1px dashed gray; margin-top: 25px; padding-top: 10px;">
		<%= form_tag( {:action => 'map_regions'},
					 {:onSubmit => 'return confirm("This map region will be deleted, are you sure?")'}) do %>
			<%= hidden_field_tag 'region_id', @region.ID %>
			<%= hidden_field_tag 'do', 'delete' %>
			<%= submit_tag('Delete this Region') %>
		<% end -%>
	</div>

<% end -%>

</div>
