<% content_for(:help_text) do -%>
	<h1>Passenger Type Translation for <%= @site_id %></h1>
<% end -%>

<div id="content_advanced">
	<% if @error -%>
		<p class="error_message"><%= @error %></p>
	<% end -%>

	<%= form_tag do %>
		<%= hidden_field_tag('site', @site_id) %>
		<table id="translation_table">
			<tr>
				<th><%= current_network.site_id %></th>
				<th><%= @site_id %></th>
			</tr>
			<% @go_pt.each do |g| -%>
				<tr>
					<td class="passenger-type"><%== dehtml(g.label) %></td>
					<td>
						<select name="field[<%= g.field_name %>]">
							<option value="Passengers">--- Add to Passengers ---</option>
							<% @provider_pt.each do |p| -%>
								<option value="<%= p.field_name %>"
									<%= 'selected' if @translation[g.field_name] == p.field_name %> >
									<%= dehtml(p.label) %></option>
							<% end -%>
						</select>
					</td>
				</tr>
			<% end -%>
	</table>

	<%= submit_tag 'Save', id: 'button_save', class: 'btn btn-small' %>

	<% end -%>
</div>