<% content_for(:help_text) do -%>
	<h1>Service Extras Translation for <%= @site_id %></h1>

	<p>
		Only service extras that have been mapped to Go service extras below will appear on the Go site.
	</p>
<% end -%>

<div id="content_advanced">
	<% if @error -%>
		<p class="error_message"><%= @error %></p>
	<% end -%>

	<%= form_tag do %>
		<%= hidden_field_tag('site', @site_id) %>
		<table id="translation_table">
			<tr>
				<th><%= current_network.site_id %></th>
				<th><%= @site_id %></th>
			</tr>
			<% @go_se.each do |g| -%>
				<tr>
					<td class="service-extra"><%= dehtml(g['Label']).html_safe %></td>
					<td>
						<select name="field[<%= g['FieldName'] %>]">
							<option value="">--- Not Used ---</option>
							<% @provider_se.each do |p| -%>
								<option value="<%= p['FieldName'] %>"
									<%= 'selected' if @translation[g['FieldName']] == p['FieldName'] %> >
									<%= dehtml(p['Label']) %></option>
							<% end -%>
						</select>
					</td>
				</tr>
			<% end -%>
	</table>

	<%= submit_tag 'Save', id: 'button_save', class: 'btn btn-small' %>
	<% end -%>
</div>