<% content_for(:help_text) do -%>
	<h1>Service Translation for <%= @site_id %></h1>

	<p>
		Only services that have been mapped to <%= current_network.site_id %> services below will appear on the site.
	</p>
<% end -%>

<div id="content_advanced">
	<% if @error -%>
		<p class="error_message"><%= @error %></p>
	<% end -%>

	<%= form_tag do %>
		<%= hidden_field_tag('site', @site_id) %>
		<table id="translation_table">
			<tr>
				<th><%= current_network.site_id %></th>
				<th><%= @site_id %></th>
			</tr>
			<% @go_s.each do |g| -%>
				<tr>
					<td class="service-name"><%= dehtml(g.name).html_safe %></td>
					<td>
						<select name="field[<%= g.service_type %>]">
							<option value="">--- Not Used ---</option>
							<% @provider_s.each do |p| -%>
								<option value="<%= p.service_type %>"
									<%= 'selected' if @translation[g.service_type.to_i].to_i == p.service_type.to_i %> >
									<%= dehtml(p.name) %></option>
							<% end -%>
						</select>
					</td>
				</tr>
			<% end -%>
	</table>

	<%= submit_tag 'Save', id: 'button_save', class: 'btn btn-small' %>
	<% end -%>
</div>