<% content_for(:help_text) do -%>
	<h1>Advanced Site Configuration</h1>
<% end -%>

<div id="content_advanced">
	<%= form_tag do %>
		<%= hidden_field_tag('site', @site_id) %>
		<label><%= check_box_tag('disable_one_way', 1, @disable_one_way) %>
      Disable One Way Trips </label>
    <label><%= check_box_tag('enable_cruise', 1, @enable_cruise) %>
      This site supports cruises </label>
    <%= submit_tag 'Save', id: 'button_save', class: 'button_save' %>
	<% end -%>
</div>
