[data-controller="attractions"] {
  padding: 15px;

  h1 {
    margin-top: 0;
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
    margin: 10px 0 10px 0;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 16px;
    padding: 8px;
    font-weight: normal;
    border-radius: 4px;
  }

  input[type='checkbox'] {
    width: auto;
    height: auto;
    position: relative;
    display: inline;
    font-size: 50px;
    top: -3px;
    margin: 0;
  }

  .service-extra-checkbox {
    text-align: center;
    label { padding-top: 0; }
  }

  &[data-action="index"] {
    @media (max-width: 767px) {
      .service-extra-checkbox-container {
        text-align: left;
        div, label { width: auto; }
        input { top: 0; }
      }
    }
  }

  &[data-action="details"] {
    h3 {
      margin-top: 0;
      margin-bottom: 15px;
    }
    p {
      max-width: 500px;
    }
  }

  h4 {
    font-size: 16px;
  }

  .input-with-icon {
    display: block;
    input { padding-right: 30px; }
    i {
      position: relative;
      top: -24px;
      right: 11px;
      font-size: 14px;
    }
  }

  #notice_box, .attract-head, .attract-container, .buttons, h3 {
    max-width: 800px;
  }

  #notice_box { clear: both; }

  .attract-head { margin-bottom: 15px; }

  .attract-container {
    margin-top: 10px;

    .form-group { margin-bottom: 10px; }

    .attraction-date { margin-bottom: 0; }

    label {
      padding-right: 0;
    }

    img {
      float: left;
      margin-right: 15px;
      position: relative;
      top: 5px;
    }

    p {
      text-align: justify;
    }

    .date-container {
      max-width: 175px;
    }
    .datepicker {
      cursor: pointer;
    }

    .price-label, .yard-label {
      position: relative;
      right: -20px;
    }

    .yard-departure { display: none; }

    .yard-time {
      text-align: right;
      padding-top: 7px;
      font-size: 15px;
    }

    .price {
      text-align: right;
      padding-top: 2px;
      font-size: 20px;
    }

    .alternate-location-list {
      text-align: right;
      label {
        padding-top: 0;
      }
    }

    .button-add, .button-update { float: right; }
  }

  &[data-action="index"],&[data-action="details"] {
    @media (max-width: 767px) {
      padding: 15px 0;

      .alternate-location-list {
        text-align: left;
        select { width: auto; }
      }

      .attract-container {
        .button-add, .button-update { float: left; }
        .price-label, .yard-label { right: auto; }
      }
    }

    @media (max-width: 380px) {
      h3 {
        border-radius: 0px;
      }
      .row { padding: 20px; }
    }
  }
}

[data-controller="attractions"][data-action="widget"] {
  max-width: 350px;
  margin-bottom: 50px;

  label {
    padding-top: 0;
    position: relative;
    top: -4px;
    text-align: right;
  }
  .price-label, .date-label, .times-label, .passenger-label, .yard-label {
    padding-top: 7px;
    top: 0;
  }

  .button-container { text-align: right; }
  .button-add, .button-update { float: none; }
}
