@import "compass/css3";
@import "compass/css3/box";

[data-controller="cart"][data-action="receipt"] {
  #prefrider-container {
    clear: both;
    max-width: 500px;
  }

  #tripit {
    clear: both;
    margin: 35px 0 0 0;
  }

  .buttons {
    clear: both;
    margin: 25px 0;
  }
}

[data-controller="cart"][data-action="checkout"] {
  .checkout-head { margin-bottom: 15px; }

  .checkout-form { clear: both; }

  .checkout-alert {
    margin-bottom: 10px;
    color: grey;
    font-style: italic;
  }

  .well {
    max-width: 800px;
  }

  .input-with-icon {
    display: block;
    input { padding-right: 30px; }
    i {
      position: relative;
      top: -24px;
      right: 11px;
      font-size: 14px;
    }
  }

  .error-label { display: block; }

  .payment-types li { cursor: pointer; }

  #credit-card {
    margin-top: 15px;

    .credit-card-number, .credit-card-name {
      width: 200px;
    }
    .credit-card-zip {
      width: 130px;
    }

    #cart_CCExp_month {
      display: inline;
      width: auto;
    }
    #cart_CCExp_year {
      display: inline;
      width: auto;
    }

    .credit-card-ccvv {
      width: 85px;
    }
  }

  #contact {
    .contact-name, .contact-phone, .contact-phone2,
    .contact-email, .contact-validate-email {
      width: 200px;
    }

  }

  #mailing-lists {
    margin-bottom: 25px;
    .checkbox:first-child { margin-top: 5px; }
  }

  #points {
    margin-bottom: 25px;
    select { margin-bottom: 5px; }
    p { margin: 0; }
    #programs { margin-left: 25px; }
  }

  .buttons {
    max-width: 800px;
    margin-top: 25px;
    text-align: right;

    button {
      position: relative;
      top: -5px;
      margin-left: 7px;
    }
  }

}


[data-controller="cart"] {
  padding: 15px;

  h1 {
    font-size: 25px;
  }

  #notice_box {
    clear: both;
    max-width: 800px;
  }

  .cart-head {
    margin-bottom: 15px;
  }

  .cart-container {
    // max-width: 800px;
  }

  .buttons {
    clear: both;
    text-align: right;
    a.btn-link {
      font-size: 13px;
      padding: 5px;
    }
    .add-res {
      margin-right: 10px;
    }
  }

  .cart-empty {
    padding-bottom: 30px;
  }

  .cart {
    position: relative;
    width: 100%;
    border-bottom: 3px solid gray;

    &:first-child { margin-top: 10px; }
    &:first-child tr.first-leg { border-top: 3px solid gray; }

    tr td {
      border: 0;
      vertical-align: top;
    }

    tr.base-info td {
      padding-top: 15px;
      // border-bottom: 3px solid gray;
    }

    tr.actions {
      background-color: #f5f5f5;
      a { color: #777; }

      .btn {
        font-size: 11px;

        span { text-decoration: underline; }
        i {
          font-size: 13px;
          margin-right: 5px;
          font-style: normal;
          font-weight: bold;
        }

      }
    }

    /* Round-trip leg separators */
    tr.base-info:not(.last-leg) td { border-bottom: 1px solid #ccc; }

    tr.booking-error td {
      padding: 5px;
    }

    tr.booking-error td {
      background-color: #f2dede;
      color: #b94a48;
      border-color: #ebccd1;
    }

    td.icon {
      border-bottom: 3px solid gray;
    }

    .location {
      width: 240px;
    }

    .more-info {
      // border-top: 0;
      margin-top: 10px;
      padding-bottom: 15px;
      font-size: 11px;
      p {
        margin: 0;
      }
      .service {
        font-size: 13px;
      }
    }

    .arrow {
      width: 30px;
      i {
        position: relative;
        top: 12px;
      }
    }

    .loc-name {
      display: block;
      font-weight: bold;
      font-size: 16px;
    }

    .fare-container {
      text-align: right;
      p { margin: 0; }

      .fare {
        font-weight: bold;
        font-size: 16px;
      }
      .fare-total {
        display: inline-block;
        border-top: 1px solid gray;
      }
    }

    .yard-departure { font-size: 11px; }

    tr.base-info .actions:first-child {
      width: 150px;
      border: 0;
      text-align: center;
      vertical-align: middle;
      border-bottom: 3px solid gray;
    }
  }

  .total {
    // width: 100%;
    margin-bottom: 20px;

    .total-line {
      .total-value { font-size: 26px; }
      td {
        text-align: right;
        font-weight: bold;
        font-size: 16px;

        &.empty { width: 150px; }
      }
    }

  }

  #attractions-list {
    clear: left;
    max-width: 800px;
    padding: 50px 0 0 0;
    list-style-type: none;

    li {
      margin-bottom: 25px;
    }
    img {
      display: inline-block;
      margin-right: 25px;
      vertical-align: top;
    }
    p {
      display: inline-block;
      max-width: 500px;
    }

  }

  #coupon-issue-modal {
    .issue-explanation {
      padding: 25px;
      padding-bottom: 5px;
    }
  }

  .apply-coupon-form {
    text-align: right;
    margin-top: 8px;
    margin-bottom: 5px;

    #coupon-code {
      height: 22px;
      width: 90px;
    }

    label {
      display: block;
      text-align: left;
      font-size: 11px;
    }

    button.apply-coupon {
      background-color: gray;
      color: white;
    }

    button.remove-coupon {
      color: #777;
    }

    .remove-coupon {
      text-decoration: underline;
      padding: 0;
      font-size: 12px;
      position: relative;
      top: -1px;
    }

    .form-group {
      display: inline-block;
      margin: 0;
    }

    .total-discount {
      font-weight: bold;
      font-size: 16px;
      margin-left: 5px;
    }
  }

  @media (min-width: 400px) {
    .pickup .more-info { display: block; }
    .dropoff .more-info { display: none; }
  }

  @media (max-width: 400px) {
    .pickup .more-info { display: none; }
    .dropoff .more-info { display: block; }

    /* Force table to not be like tables anymore */
    tbody, td, tr { display: block; }

    td { /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding: 8px;
    }

    .cart {
      @include display-box;
      @include box-orient(vertical);
      @include box-direction(column);
      margin-top: 15px;

      &:first-child tr { border-top: 1px solid #ccc; }
      tr.base-info td { border-bottom: 0; }
      tr.base-info:not(.last-leg) td { border-bottom: 0; }
      tr.first-leg { border-top: 3px solid gray; }

      tr.actions .btn { font-size: 12px; }

      tr {
        border: 1px solid #ccc;

        td.location {
          @include display-box;
          @include box-orient(vertical);
          @include box-direction(column);
        }
        td.fare-container, td.dropoff { padding-top: 0; }
        td.arrow { display: none; }
        td.actions {
          width: auto;
          text-align: center;
        }
      }
    }

    .total {
      display: block;

      tr {
        margin-top: 10px;
        border: 0;

        td {
          text-align: right;
          font-weight: bold;
          font-size: 16px;

          &.empty { display: none; }
        }
      }
    }
  }

  .apply-coupon-form {
    font-weight: normal;
    font-size: 13px;

    #coupon-code {
      display: inline-block;
    }
  }

  .buttons {
    a.btn-link {
      font-size: 13px;
      padding: 5px;
    }
  }

  @media print {
    #tripit, .buttons, #prefrider-container { display: none !important;}
  }
}
