[data-controller="cruise_reservations"][data-action="index"] {

  .leg.panel {
    padding-bottom: 0;
  }

  .leg-disabler {
    margin-top: 0;
    margin-bottom: 15px;
  }

  h3 { margin-bottom: -13px; }

  .circle-icon {
    width: 40px;
    height: 40px;
    margin-right: 9px;
    margin-left: -10px;
    top: 1px;

    i {
      font-size: 30px;
      top: 4px;
      left: 5px;

      &.fa-anchor {
        font-size: 27px;
        top: 5px;
        left: 6px;
      }
      &.fa-plane.fa-rotate-90 {
        top: 4px;
        left: 5px;
      }
      &.fa-plane {
        top: 7px;
        left: 7px;
      }
    }
  }

  .additional-fields.panel {
    padding-bottom: 18px;
    hr { display: none; }
  }

  .error-label { display: block; }

  #cruise-site-label { display: block; }
  #cruise_site_id {
    width: auto;
    display: inline-block;
  }

  // Preload loader image
  #cruise-site-label {
    background-image: image-url('mini-loader.gif');
    background-repeat: no-repeat;
    background-position: -1000px -1000px;
  }

  .cruise-loader {
    position: relative;
    top: 4px;
    left: 22px;
    color: #888;
    font-size: 16px;
    .loader {
      position: relative;
      top: 4px;
    }
  }

  @media (max-width: 380px) {
    h3 { padding-left: 8px; }
    .circle-icon { border: 1px solid white; }
  }
}
