@import "bootstrap-sprockets";
@import "bootstrap";

html {
  padding-bottom: 25px;
}

body {
  font: 400 13px/1.6 'Open Sans', sans-serif;
  max-width: 800px;
  // margin: 0 auto;
}

label { margin-bottom: 0; }

.input-group-btn .btn {
  padding-bottom: 7px;
}

// Placeholder text
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #777 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #777 !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #777 !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #777 !important;
}

#sidebar {
  position: absolute;
  right: 0;
  width: 200px;
  padding: 8px 0;
}

#notice_box h3:first-child {
  margin-top: 0;
}

.circle-icon {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  top: 5px;

  i {
    position: relative;
    top: -4px;
    font-size: 34px;
  }
  i.fa-plane.fa-rotate-90 {
    top: -9px;
    left: -3px;
  }
  i.fa-anchor {
    font-size: 32px;
    top: -10px;
    left: 1px;
  }

}

.leg-summary {
  position: relative;
  display: flex;
  max-width: 800px;
  margin-top: -15px;

  .prefix {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 50px;
    margin-left: 0px;
    font-family: 'Arvo', serif;
    font-size: 40px;
    letter-spacing: 1px;

    .text {
      display: inline-block;
      margin-left: 4px;
      color: #555;
      .l-kern { letter-spacing: 3px; }
    }

  }

  .summary {
    position: relative;
    flex: 1;
    padding: 13px 8px 8px 32px;
        -webkit-box-shadow: 0 8px 6px -6px #888;
       -moz-box-shadow: 0 8px 6px -6px #888;
            box-shadow: 0 8px 6px -6px #888;

    i {
      position: absolute;
      left: 6px;
      font-size: 39px;
    }

    .cart-link {
      color: inherit;
      &:hover { text-decoration: none; }
    }

    .cart-icon {
      position: absolute;
      right: 15px;
      left: auto;
      top: 12px;

      text-shadow: 0px -1px 0px #374683;
    }

    span {
      white-space: nowrap;
    }
  }
}

// Flexbox is not supported in < IE 10 browsers. This supplies a different
// solution in those cases.
.lt-ie10 .leg-summary {
  display: block;

  .prefix {
    display: inline-block;
    vertical-align: top;
  }

  .summary {
    display: inline-block;
    padding-right: 100px;
  }
}


@media (max-width: 600px) {
  .leg-summary {
    display: block;
  }
}

@media (max-width: 450px) {
  .leg-summary .cart-link { display: none; }
}

/* Cart link */
.cart-link {
  margin-left: 20px;
  .fa-shopping-cart { margin-right: 6px; }
}

.loader {
  border-radius: 5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: image-url('mini-loader.gif') white no-repeat center;
  margin-left: 6px;
  &.centered {
    display: block;
    margin: 10px auto;
  }
}

label.error-label { color: #b94a48; }

.has-error input, .has-error select, .has-error .panel-heading,
textarea.has-error, .has-error, .chosen-single, .has-error .checkbox label  {
  background-color: #ffe5e6 !important;
  border: 0 !important;
}
.has-error .chosen-single {
  background-image: none;
}

.field_with_errors {
  display: inline;
  label { display: block; }
}

.hide { display: none; }

/* The below pop-up css was taken from the web res site. */
a.boxpopup{
  position: relative;
  z-index: 24;
  color: #046;
  border-bottom: thin dotted #046;
  text-decoration: none;

  & span { display: none; }

  &:hover {
    z-index: 25;
    background-color: #FF0;

    span {
      position: absolute;
      top: 2em;
      left: 0;
      height: auto;

      &.tall {
        display: block;
        top: 4em;
        width: 25em;
        padding: .3em;
        border: 2px outset #BBB;
        color: #000; background:#FF9;
        white-space: normal;
        text-align: left;
      }
    }
  }
  &:hover span, .alt-category-text {
    display: block;
    width: 25em;
    padding: .3em;
    border: 1px outset #BBB;
    color: #000; background:#FF9;
    white-space: normal;
    text-align: left;
    margin-bottom: 6px;
  }
}
