/* Custom center width (from the designer) */
#custom-doc {
	margin:auto;text-align:left; /* leave unchanged */
}

html {
	background: none !important;
}

body {
	font-family: Tahoma, sans-serif;
	color: #4C494A;
/* 	margin-bottom: 35px; */
}

#content_area {
/*	padding-left: 30px; */
	padding-right: 5px;
	padding-bottom: 30px;
}

p {
	line-height: 18px;
	font-size: 93%;
	margin-bottom: 15px;
}

strong {
	font-weight: bold;
}

h1, h2, h3 {
	font-family: Arial, Verdana, Tahoma;
	letter-spacing: -1px;
	text-transform: uppercase;
	line-height: 18px;
}

h1 {
	color: #004920;
	font-size: 138.5%;
}

h2 {
	color: #6DB33F;
	font-size: 108%;
	font-weight: bold;
}

h3 {
	color: #E48008;
	font-size: 108%;
	font-weight: bold;
}

h4 {
	font-weight: bold;
	font-size: 93%;
}

a:link, a:visited {
	color: #58A21E;
	text-decoration: none;
}

a:hover, a:visited:hover {
	color: #004920;
}

#error_box, #notice_box {
	background-repeat: no-repeat;
	border:  1px solid;
	margin:  10px 0px;
	margin-right:  25px;
	margin-bottom: -5px;
	padding: 0px 10px 15px 50px;
	background-position: 5px 5px;;
}

#error_box {
	color:  #e43300;
	background-color:  #ffccba;
	/*background-image:  url(image_path('go/error.gif')); */
}

#error_box ul {
	float: none;
}

#error_box h3 {
	padding-top: 10px;
	padding-bottom:  4px;;
	color: #e43300;
	margin-top: 0;
}

#error_box li {
	margin-left: 25px;
}

#notice_box {
	color: #00529B;
	background-color: #BDE5F8;
	/*background-image: url(image_path('go/info.gif'));*/
	padding-bottom: 5px;
	padding-top: 5px;
}