[data-controller="profile"][data-action="group_login_window"] {
  padding: 10px;

  form { margin-top: 10px; }
  #notice_box { margin-top: 10px; }
  .input-group { width: 225px; }
}

[data-controller="profile"][data-action="login_window"] {
  padding: 10px;

  h3 {
    font-size: 20px;
    margin: 0;
  }
  #notice_box { margin-top: 10px; }
  form { margin-top: 10px; }
  .row {
    width: 212px;
    margin-bottom: 10px;
  }
}