[data-controller="reservations"][data-action="one_way"],
[data-controller="reservations"][data-action="round_trip"],
[data-controller="reservations"][data-action="multi_leg"],
[data-controller="cruise_reservations"][data-action="index"] {
  padding: 15px;
  // margin-right: 25px;

  h1, h2 { margin: 0; }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 18px;
  }
  h3 { font-size: 20px; }
  h4 {
    font-weight: normal;
    font-size: 15px;
  }

  hr { margin-top: 0; }

  form, .page, #group-profile-content, #user-profile-content {
    max-width: 880px;
  }

  input[type='text'].ui-autocomplete-loading {
      background: white url(image_path('ajax-loader.gif')) no-repeat right 30px center;
  }

  input[readonly="readonly"] {
    background-color: white;
  }

  select option:disabled { color: #808080; }

  .leg.panel {
    padding: 18px;
  }

  .input-with-icon {
    display: block;
    position: relative;
    input { padding-right: 30px; }
    i {
      position: relative;
      top: -24px;
      right: 11px;
      font-size: 14px;
    }
  }

  .fa-calendar { pointer-events: none; }

  .fa-plane, .fa-long-arrow-right, .fa-list, .fa-exchange,
  .fa-user, .fa-briefcase {
    margin-right: 9px;
  }
  .fa-anchor { margin-right: 8px; }
  .fa-minus, .fa-plus { margin-right: 4px; }

  .direction-selector { margin-bottom: 15px; }

  .direction-dropdown {
    button {
      padding: 0 35px 0 0;

      a:hover { text-decoration: none; }

      .direction-type-diagram {
        height: 57px;
        padding: 7px;
        text-align: center;
        font-size: 18px;

        i {
          position: relative;
          top: 8px;
          left: 1px;
          margin: 0;
        }
      }
      .direction-type-desc {
        text-align: left;
        line-height: 1.4;
        padding-left: 49px;
        position: relative;
        bottom: -9px;
      }

      i.fa-chevron-down {
        position: absolute;
        right: 11px;
        top: 20px;
      }
    }

    ul { padding-bottom: 0; }
    li {
      margin-bottom: 4px;

      &.direction-type-heading {
        font-size: 19px;
        margin-left: 49px;
        margin-bottom: 3px;
      }

      a {
        padding: 0 35px 0 0;
        .direction-type-diagram {
          height: 48px;
          padding: 7px;
          text-align: center;
          font-size: 18px;

          i {
            position: relative;
            // top: 8px;
            top: 5px;
            left: 1px;
            margin: 0;
          }
        }
        .direction-type-desc {
          text-align: left;
          line-height: 1.3;
          padding: 6px;
          padding-left: 50px;
          position: relative;
          top: 0px;
        }
      }
    }
  }

  .flight-date .input-group {
    padding-left: 0;
  }

  .flight-time-label {
    position: absolute;
    top: -19px;
    width: 100%;
  }

  .rt-flight-date {
    display: block;
  }

  .flight-date .input-group:first-child {
    padding-left: 15px;
    padding-right: 0;
  }

  .datepicker { cursor: pointer; }

  .page {
    // padding-left: 120px;
  }

  #trip-type-selector {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .input-group {
    margin-bottom: 18px;
  }

  .time {
    width: auto;
    display: inline;
  }

  .region { margin-bottom: 8px; }
  .region, .location-container {
    clear: left;
    display: block;
  }

  .extras-summary, .passenger-summary {
    padding: 8px 8px 8px 12px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  .passengers-header, .svc-extras-header { cursor: pointer; }

  .passengers-form {
    color: #333333;

    label { display: block; }
    .passenger-count { width: 65px; }
    select { display: block; }
  }

  .svc-extras-form {
    color: #333333;

    .popover-trigger {
      color:#046;
      border-bottom:thin dotted #046;
      text-decoration:none
    }
    .input-group label { display: block; }
    .checkbox.input-group {
      margin-right: 20px;
      label { display: inline; }
    }
    .extras-count { width: auto; }

    .service-extra-field {
      width: 100%;
      padding-bottom: 8px;
      label { font-weight: normal; }
    }

    .unfixed-service-extra {
      padding-left: 70px;

      select {
        float: left;
        margin-left: -70px;
      }
    }
  }

  .multi-leg-buttons {
    top: -15px;
    left: 8px;
  }
  .btn.btn-link:hover { text-decoration: none; }

  // Autocomplete lists
  .ui-autocomplete {
    max-height: 220px;
    overflow-y: auto;
  }

  .ui-autocomplete-category {
    border-bottom: 1px solid gray;
    background-color: gray;
    color: white;
    padding-left: 7px;
  }
  .ui-state-focus {
    background: none;
    background-color: #e8e8e8;
    border: 0;
  }
  .ui-menu .ui-menu-item {
    margin-bottom: 5px;

    a {
      line-height: 1.3;
      font-weight: normal;
      font-size: 13px;
      .loc-address {
        font-size: 75%;
        font-weight: normal;
      }
    }
  }

  .actions {
    margin-top: -10px;
    // margin-bottom: -20px;
    text-align: right;

    .logout {
      color: #d58512;
    }
  }
  &[data-action="round_trip"] .actions {
    margin-bottom: 8px;
  }

  #user-profile-content {
    .welcome { font-weight: bold; }
  }

  @media (max-width: 767px) {
    padding: 15px 15px;
    margin-right: 0;

    .page { padding-left: 0; }
    .direction-selector { margin-bottom: 0; }
    .flight-date-label { margin-top: 25px; }
    // label { margin-top: 15px; }
    label.direction-label { margin-top: 0;}
    .nav-pills > li + li {
      margin-left: 0;
    }

    .ui-menu-item a { height: 50px; }

    .datepicker.dropdown-menu td { padding: 12px 12px; }
  }

  @media (max-width: 380px) {
    padding: 10px 4px;

    #trip-type-selector {
      font-size: 11px;
    }

    .ui-autocomplete { max-height: 300px; }

    .flight-date {
      .col-xs-6 { padding-right: 0; }
      .col-xs-6.time { padding-left: 4px; }
    }
  }
}

#login-modal {
  .modal-content {
    padding: 20px;
  }
}
