[data-controller="services"] {
  padding: 15px;

  .leg-services-section {
    clear: both;
    &:not(:first-child) {
      padding-top: 75px;
    }
  }

  form {
    margin-top: 6px;
  }

  .popover-content {
    label { display: inline-block; }

    .tip-label {
      display: block;
    }

    div.form-group {
      display: inline-block;
      margin-right: -10px;
      margin-bottom: 5px;
      input {
        display: inline-block;
        padding-right: 30px;
        width: 75px;
      }
      span {
        position: relative;
        right: 22px;
        top: 3px;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .common-tip { padding: 0 10px 0 0; }
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
    }
    .update-tip {
      position: absolute;
      top: 7px;
      right: 8px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    margin-bottom: 4px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: normal;
  }

  .chosen-results li { color: #333333; }

  .services-table {
    max-width: 800px;
    // margin-bottom: 55px;

    .list-group { margin-bottom: 4px; }

    .list-group-item {
      min-height: 100px;
      padding: 25px;
      padding-right: 100px;
      list-style-type: none;

      &.selected-service {
        border: 0;
        // border-top: 0;
        // border-left: 0;

      }

      .service-description {
        display: inline-block;
        width: auto;

        label {
          width: auto;
          font-weight: normal;
          margin: 0;
          line-height: 1.5;
        }
      }

      .group-discount {

      }

      .service-fare {
        font-family: 'Arvo';
        position: absolute;
        right: 15px;
        top: 3px;

        .original-fare {
          font-size: 16px;
          text-decoration: line-through;
          margin-right: 8px;
        }

        &.selected {
          top: auto;
          bottom: 0px;
        }
        .fare-major { font-size: 30px; }
        .fare-minor { vertical-align: super; }
      }

      .service-button {
        position: absolute;
        right: 15px;
        bottom: 10px;
      }

      &.not-selectable {
        .service-fare {
          top: auto;
          bottom: 13px;
          right: 15px;
        }
      }
    }

    .show-all-services { display: none; }
  }

  .details {
    max-width: 800px;
    display: none;
    clear: both;

    .details-summary {
      display: none;

      .row {
        padding: 8px;
        padding-top: 0;
        padding-right: 14px;
        margin: 0;
        text-align: right;
        width: 300px;
        margin-right: 0px;
        margin-left: auto;
        margin-top: -4px;
        border-top: 0;
        border-radius: 0;
        border: 0;
      }

      hr { clear: both; }
    }

    label.error-label {
      margin-top: 0;
    }

    textarea, .loc-details {
      width: 320px;
    }

    .location {
      p:last-child { margin-bottom: 0;}

      .loc-zip {
        display: inline;
        width: 100px;
        margin-left: 15px;
      }
    }

    .pickup-extras {
      margin-top: 15px;
    }

    .flight-info, .other {
      padding-top: 0;
      label { margin-top: 15px; }
      label.error-label {
        margin-top: 0;
        margin-bottom: 0;
      }

      .field_with_errors label {
        margin-bottom: 0;
      }
    }

    .other {
      .tip-field-container {
        display: inline-block;
        // margin-top: 12px;

        label {
          display: block;
          margin-top: 15px;
        }
        label.error-label {
          margin-top: 0;
          margin-bottom: 0;
        }

        .field_with_errors label {
          margin-bottom: 0;
        }

        div.gratuity-included { margin-bottom: 5px; }
        div.gratuity {
          display: inline-block;
          width: 100px;
        }
        .input-with-icon-right {
          display: inline;
          input {
            padding-left: 23px;
            width: 100px;
          }
          i {
            position: absolute;
            top: 5px;
            left: 10px;
            font-size: 14px;
          }
        }

        .tip-calculator {
          position: relative;
          top: 2px;
          margin-left: 6px;
        }

      }

    }
  }

  .time-warn {
    display: block;
    white-space: normal;
    text-align: left;
    padding: 3px;
    line-height: 1.4;

    &.time-adtl-charge {
      padding-left: 25px;
    }
  }

  .button-container {
    max-width: 800px;
    margin-top: 25px;
    text-align: right;

    .add-to-cart-warning {
      font-size: 90%;
      line-height: 1.5;
      color: #666;
      max-width: 400px;
      margin: auto 0 18px auto;
    }

    button {
      position: relative;
      top: -5px;
      margin-left: 7px;
    }

  }

  @media (max-width: 767px) {
    .ui-menu-item a { height: 50px; }
  }

  @media (max-width: 400px) {
    padding: 15px 0;

    .services-table {
      min-width: 300px;

      .list-group-item {
        padding-right: 25px;
        padding-bottom: 59px;
        text-align: center;

        .service-description {
        }

        .service-fare {
          text-align: left;
          bottom: 0px;
          top: auto;
          left: 15px;
          &.selected { left: auto; }
        }
      }
    }

    .row {
      width: 98%;
      margin: auto;
    }


    .leg-services-section:not(:first-child) {
      padding-top: 50px;
    }

    .details {
      textarea, .loc-details {
        width: 250px;
      }
    }

    .button-container { width: 98%; }
  }

}
