<div>
	<%= group_login_header %>
	<%= notice_box %>

	<%= form_tag nil, role: 'form' do %>
		<label><%= group_login_label %></label>

		<div class="row">
			<div class="col-lg-12">
				<div class="input-group">
					<%= text_field_tag('code', nil, class: 'form-control') %>
					<span class="input-group-btn">
						<button type="submit" class="btn hudson-button">
							<%= group_login_submit %>
						</button>
					</span>
				</div>
			</div>
		</div>
	<% end %>
</div>
