<div>
  <%= login_header %>
  <%= notice_box %>

  <%= form_tag nil, role: 'form' do %>
    <%= render partial: 'shared/login_form' %>

    <%= link_to login_forgot_pw_label, nil, id: 'forgot-password' %>
  <% end %>
</div>
