<div>
  <%= mailing_list_header %>
  <%= notice_box %>

  <%= form_tag nil, role: 'form' do %>
    <p><%= mailing_list_content %></p>

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <%= text_field_tag('email', @email, class: 'form-control') %>
          <span class="input-group-btn">
            <button type="submit" class="btn hudson-button">
              <%= mailing_list_submit %>
            </button>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
