<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Multiaffiliate Configuration</title>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'configuration/configuration', 'configuration/all' %>
  <%= javascript_include_tag 'configuration' %>
  <%= csrf_meta_tags %>

</head>

<%= content_tag :body,
        class: "hudson-app #{site_body_class}",
        data: {
          controller: controller_name,
          action: action_name,
          site: current_site_id,
          env: Rails.env,
          urls: {
            'add_airport' => add_airport_path,
            'delete_airport' => delete_airport_path
          }
        } do %>
  <%= logo_image %>

  <div class="attractions-notice">
    <p><strong>NOTICE (June 2015): Multiaffiliate 5.4 changes the way attractions are handled.</strong></p>
    <p>BEFORE: One attraction site was attached to a transportation site by
    attaching an attraction site ID.</p>
    <p>NOW: Attraction sites are configured like transportation sites and are
    no longer attached to transportation sites.</p>
    <p>
    Existing attractions have been upgraded to the new system. Please double-check to ensure their configuration looks right.
    </p>
    <p>TO ADD AN ATTRACTION SITE</p>
    <ol>
    <li>Add the attraction site using it's site ID and pressing the "Add as attractions site" button.</li>
    <li>Attach airports to the attraction site by selecting an airport and pressing the "Add airport" button. Airports can be added if they are currently listed under a transportation site.
    </ol>

  </div>

  <div id="help_text"><%= yield :help_text %></div>

  <!-- Links -->
  <ul id="links">
		<li id="link_site_config">
      <%= link_to_unless_current('Site Config', config_home_url(site_id: current_site_id)) %>
    </li>
		<li id="link_advanced"><%= link_to_unless_current('Advanced Config', {:action => 'advanced'}) %></li>
		<li id="link_logout">
      <%= link_to('Logout', config_logout_url(site_id: current_site_id)) %>
    </li>
  </ul>

  <!-- Content -->
  <div id="content">
  	<%= yield :layout %>
  </div>
<% end %>
</html>
