<%= attraction_title(attraction) %>


<%= content_tag :div, class: 'row attract-container',
        data: {
          key: attraction.code,
          global_key: attraction.global_code,
          display_times: attraction.display_times? } do %>
  <div class="col-sm-7">
    <% if attraction.thumbnail_url %>
      <%= image_tag(attraction.thumbnail_url.gsub(/http:/, 'https:')) %>
    <% end %>

    <p>
      <%= attraction.description.try(:html_safe) %>

      <% if attraction.has_details? %>
        <%= link_to att_more_details_label,
                attraction_details_url(key: attraction.code,
                                       attraction_site_id: attraction.site_id) %>
      <% end %>
    </p>
  </div>

  <div class="col-sm-5">
    <%= form_tag attraction_validate_path, role: 'form',
            class: 'form-horizontal' do |f| %>
      <input type="hidden" name="DropOffKey" value="<%= attraction.code %>">
      <input type="hidden" name="attraction_site_id"
             value="<%= attraction.site_id %>">
      <input type="hidden" name="global_code"
             value="<%= attraction.global_code %>">
      <input type="hidden" name="DropOffLocation" value="<%= attraction.name %>">

      <div class="form-group attraction-date">
        <label class="col-sm-6 control-label"><%= att_date_label %></label>
        <div class="col-sm-6 input-with-icon date-container">
        <%= text_field_tag :FlightTOD,
                             date_format(attraction.default_date([params[:PickupTOD], params[:FlightTOD]])),
                             class: 'input-small form-control datepicker',
                             data: {'date-format' =>  custom_date_format.blank? ? "mm/dd/yyyy" : custom_date_format } %>
          <i class="fa fa-calendar pull-right"></i>
        </div>
      </div>

      <% if attraction.has_alternate_location_list? %>
        <div class="form-group alternate-location-list">
          <div class="col-xs-12">
            <%= content_tag :label, att_pudloc_label, class: 'control-label' %>
            <%= select_tag 'PUDAltLocation',
                    options_from_collection_for_select(attraction.alternate_locations, :Code, :Name),
                    class: 'form-control' %>
          </div>
        </div>
      <% end %>

      <% passenger_types(attraction).each do |pt| %>
        <div class="form-group">
          <label class="col-sm-8 col-xs-12 control-label">
            <%= dehtml(pt.label) %>
          </label>
          <div class="col-sm-4 col-xs-5">
            <%= select_tag pt.field_name,
                    options_for_select(0..pt.max_passengers,
                          pt.field_name == 'Passengers' ? 1 : 0),
                    class: 'form-control passenger-count' %>
          </div>
        </div>
      <% end %>


      <% attraction.service_extras.find_all(&:not_fixed?).each do |extra| %>
        <div class="form-group">
          <label class="col-sm-8 col-xs-12 control-label passenger-label">
            <%= dehtml(extra.label) %>
          </label>
          <div class="col-sm-4 col-xs-5">
            <%= select_tag extra.field_name,
                    options_for_select(0..extra.maximum),
                    class: 'form-control passenger-count' %>
          </div>
        </div>
      <% end %>

      <% attraction.service_extras.find_all(&:fixed?).each do |extra| %>
        <div class="form-group service-extra-checkbox-container">
          <label class="col-xs-8 control-label" for="<%= extra.field_name %>">
            <%= dehtml(extra.label) %>
          </label>

          <div class="col-xs-4 service-extra-checkbox">
              <%= check_box_tag(extra.field_name, 1, false,
                                class: 'form-control passenger-count') %>
          </div>
        </div>
      <% end %>

      <div class="form-group times">
        <label class="col-sm-7 col-xs-12 control-label">
          <%= att_times_label %>
        </label>
        <div class="col-sm-5 col-xs-5">
          <%= select_tag 'PickupTOD', [], class: 'form-control' %>
        </div>
      </div>

      <button class="button-update btn hudson-button">
        <%= att_load_times_label %>
      </button>

      <% if att_yard_departure_label(no_span: true).present? %>
        <div class="form-group yard-departure">
          <label class="col-sm-8 col-xs-12 control-label yard-label">
            <%= att_yard_departure_label %>
          </label>
          <div class="col-sm-4 col-xs-1 yard-time"></div>
        </div>
      <% end %>

      <div class="form-group">
        <label class="col-sm-8 col-xs-12 control-label price-label">
          <%= att_starting_price_label %>
        </label>
        <%= hidden_field_tag('original_fare',
                number_to_currency(attraction.fare),
                class: 'original-fare') %>
        <div class="col-sm-4 col-xs-1 price">
          <%= number_to_currency(attraction.fare) %>
        </div>
      </div>

      <button class="button-add btn hudson-button">
        <%= att_add_label %>
      </button>

    <% end %>
  </div>
<% end %>
