<%= attraction_title(@attraction) %>

<div class="attract-container">
  <% if @attraction.thumbnail_url %>
    <%= image_tag(@attraction.thumbnail_url.gsub(/http:/, 'https:')) %>
  <% end %>

  <% if @attraction.summary_description.present? %>
    <p><%= @attraction.summary_description.html_safe %></p>
  <% end %>

  <% if @attraction.special_info.present? %>
    <h4><%= att_special_info_head %></h4>
    <p><%= @attraction.special_info.html_safe %></p>
  <% end %>

  <% if @attraction.details.present? %>
    <h4><%= att_details_head %></h4>
    <p><%= @attraction.details.html_safe %>
  <% end %>

  <% if @attraction.instructions.present? %>
    <h4><%= att_instructions_head %></h4>
    <p><%= @attraction.instructions.html_safe %></p>
  <% end %>

  <% if @attraction.terms_and_conditions.present? %>
    <h4><%= att_terms_conditions_head %></h4>
    <p><%= @attraction.terms_and_conditions.html_safe %>
  <% end %>
</div>

<%= link_to back_link_caption, :back %>
