<%= content_tag(:h1, attract_h1) if attract_h1.present? %>
<%= content_tag(:div, attract_header, class: 'attract-head') if attract_header.present? %>

<%= notice_box %>

<%= content_tag :div, id: 'attractions', data: {
        'price-label' => att_price_label.dehtml } do %>
  <% @attractions.each do |type, attractions| %>
    <%= content_tag :h2, type.html_safe %>
    <%= render partial: 'attraction', collection: attractions %>
  <% end %>
<% end %>
