<%= content_tag :iframe, '',
      id: 'res_frame',
      allowtransparency: true,
      marginwidth: 0,
      marginheight: 0,
      vspace: 0,
      hspace: 0,
      width: 350,
      height: 350,
      style: "overflow: hidden; height: 488px; border: 2px solid red;" \
        "background-image: none; background-color: transparent;",
      src: attractions_widget_path(key: 'ZCITLASD2', provider_site_id: 'kt1'),
      frameborder: 0,
      frame_id: 'res_frame',
      scrolling: 'no' %>
